@media (min-width: 1024px) {
  .page, .trabalhos, .home {

    .category-tw, .category-know, .category-fb {
      .txt-title, .se-text {
        padding: 0 20px 20px 20px;
      }

      .txt-title {
        padding-bottom: 0;
      }
    }

    .se-masonry {
      .arrow-right {
        opacity: 1;
        margin-top: 10px;
      }
    }

    .post-item-content .excerpt-inner {
      max-height: 100%;
    }

    .size_220-220 {

      .se-item {
        .job-logo {
          width: 36px !important;
          height: 36px !important;
          border-width: 7px !important;
          clear: none
        }
        .cat-title {
          font-size: 14px !important;
          line-height: 15px !important;
        }
        .se-title .last-part {
          font-size: 24px;
          line-height: 26px;
          clear: none;
          margin-left: 55px
        }
      }
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 220px;
        height: 220px;
        h3 {
          width: 210px;
          span.part-0 {
            display: block;
          }
        }
      }
    }

    .size_220-460 {
      .se-item {
        .job-logo {
          width: 36px !important;
          height: 36px !important;
          border-width: 7px !important;
          clear: none
        }
        .cat-title {
          font-size: 14px !important;
          line-height: 15px !important;
        }
        .se-title .last-part {
          font-size: 14px;
          line-height: 18px;
          clear: none;
          margin-left: 55px
        }
      }

      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 220px;
        height: 460px;

        h3.post-item-title {
          width: 210px;
          span.part-0 {
            display: block;
          }
        }
      }
    }

    .size_460-460 {
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 462px;
        height: 460px;

        h3.post-item-title {
          width: 450px;
        }
      }
    }

    .size_460-220 {
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 462px;
        height: 220px;
        h3.post-item-title {
          width: 450px;
        }
      }
    }
  }

  .services-inner, .about-featured-wrapper {
    .post-txt h2, .page-title, h1.content-featured-title {
      line-height: 42pt;
      font-size: 42pt;
    }
  }

  #carousel {
    .post-txt {
      width: 480px;
    }
    .post-txt h2 {
      font-size: 34px;
      line-height: 34px;
    }
  }

  .about-featured-wrapper {
    .content-txt-inner {
      max-width: 750px;
      p {
        font-size: 22px;
      }
    }
  }
}