@media (min-width: 1280px) {
  .our-specialties .specialty-txt {
    ul {
      max-width: 210px;
    }
  }

  .sp-specialties .container {
    padding: 0 15px;
  }

  #carousel {
    .post-img {
      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}