@media (min-width: 320px) {
  html, body, .main {
    height: auto;
  }

  .template-full-image-outer {
    display: table;
    width: 100%;
    .template-full-image-inner {
      display: table-cell;
      vertical-align: bottom;
    }
  }

  .our-specialties {
    .our-specialty-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background: url(../img/our-specialty-icon.png) no-repeat;
    }

    .post-94 .our-specialty-icon {
      background-position: 0 0;
    }

    .post-100 .our-specialty-icon {
      background-position: 0 -94px;
    }

    .post-102 .our-specialty-icon {
      background-position: 0 -47px;
    }

    .post-104 .our-specialty-icon {
      background-position: -46px -94px;
    }

    .post-109 .our-specialty-icon {
      background-position: -46px 0;
    }

    .post-111 .our-specialty-icon {
      background-position: 0 -143px;
    }

    .post-115 .our-specialty-icon {
      background-position: -46px -47px;
    }

    .post-117 .our-specialty-icon {
      background-position: -46px -143px;
    }
  }

  .top-menu {

    .dropdown-menu {
      //display: none;
      border: none;
      height: 100%;
      width: 100%;
      position: relative;
      background: transparent;
      margin-bottom: 10px;
      border-bottom: 2px solid #3c484f;
      ul {
        padding-left: 3px;
      }
      li {
        margin-left: 15px;
        a {
          padding: 7px 7px 7px 15px;
          display: block
        }
      }
      li.active a {
        background: #222d34;
      }
    }
  }

  .fullsize, .normal-size, .thumbnails-wrapper {
    display: none;
  }

  .se-modular-inner, .se-modular {
    position: relative;
  }

  .se-modular-inner {
    .loading {
      left: 50%;
      margin-left: -5px;
      top: 30px;
      right: auto;
    }

    .col-md-12 {
      padding: 0
    }
  }

  .expanded {
    display: none;
  }

  .langs {
    width: auto;
  }

  .language-selection:hover, .langs section:hover {
    .active-lang .sigla {
      display: none;
    }
    .active-lang .expanded {
      display:inline-block
    }
  }

  .langs section:hover {
    .sigla {
      display: none;
    }
    .expanded {
      display:inline-block
    }
  }

  h3.sp-applied-title {
    width: 200px;
    font-size: 24px;
  }

  .sp-applied {
    text-align: left;
    display: block;
    width: 100%;
    position: relative;
    height: 80px;
    border-top: 2px solid #d8d9db;
    &:hover {
      text-decoration: none;
    }
  }

  .main-deliverables {
    display: none;
    h4 {
      margin-left: 25px;
      font-size: 13px;
      font-family: 'effra_mediumregular', sans-serif;
      text-transform: uppercase;
    }
  }

  .sp-applied-wrapper {
    width: 100%;
  }

  .deliverables-links {
    font-size: 13px;

    .links-list {
      margin: 4px 0;
      color: #11b2e1;

      a {
        color: #11b2e1;
        text-decoration: none;
      }

      &:hover, &.active {
        color: #000;

        a {
          color: #000;
        }
      }
    }
  }

  .specialty-txt li {
    &:hover, &.active {
      color: #000;

      a {
        color: #000;
        text-decoration: none !important;
      }
    }
  }

  .sp-specialties {
    background: #eaebec;
  }

  .sp-applied:after {
    content: '›';
    position: absolute;
    color: #2ac4f3;
    font-family: 'effra_lightregular', sans-serif;
    font-size: 50px;
    right: 5px;
    line-height: 55px;
    top: 12px;
    text-align: right;
  }

  /*.menu-servicos .dropdown-menu:hover {
      display: block !important;
  }*/

  .top-menu {
    .dropdown-menu-inner {
      background: #2f3e48;
    }
  }

  .page-id-559, .page-id-561, .page-id-563, .page-id-565 {
    .top-menu {
      .dropdown-menu {
        opacity: 1;
      }
    }

    .sp-applied:after {
      content: '+';
    }

    .sp-applied.active:after {
      content: '-';
    }
  }

  .sp-icon {
    width: 40px;
    height: 40px;
    padding: 0 20px;
    background: url(../img/sp.png) no-repeat;
    display: inline-block;
    float: left;
    margin: 20px 15px 0 15px;
    vertical-align: middle;
  }

  .sp-analytics .sp-icon {
    background-position: 0 -60px;
  }

  .sp-business .sp-icon {
    background-position: -57px -60px;
  }

  .sp-buzz .sp-icon {
    background-position: -112px -60px;
  }

  .sp-data .sp-icon {
    background-position: -171px -60px;
  }

  .sp-insights .sp-icon {
    background-position: -231px -60px;
  }

  .sp-digital .sp-icon {
    background-position: -351px -60px;
  }

  .sp-user .sp-icon {
    background-position: -288px -60px;
  }

  .sp-development .sp-icon {
    background-position: -414px -60px;
  }

  .sp-title {
    font-size: 17px;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    width: 170px;
  }

  #work > .col-sm-7 {
    padding-left: 0;
  }

  .footer-wrapper, #work-wrapper, .single-page-inner {
    float: left;
    position: relative;
    width: 100%;
  }

  // services detail pages
  .single-page-inner {

    .see-all {
      display: none;
    }

    .sp-applied-title {
      text-transform: capitalize;
    }

    .sp-specialties {
      background: #fff;
    }
  }

  .swiper-slide, .swiper-slide img {

    .inner {
      display: table-cell;
      vertical-align: middle;
      height: inherit;
    }
  }

  .our-specialties, .article-outer {
    position: relative;
    .indicator {
      color: #11b2e1;
      display: block !important;
      font-family: 'effra_lightregular', sans-serif;
      font-size: 2.5em;
    }

    .indicator:after {
      content: '-';
    }

    .indicator.plus:after {
      content: "+";
    }
  }

  .mobile-pagination {
    text-align: center;
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      margin: 5px;
      background: #2f3e48;
      &:hover, &.swiper-active-switch {
        background: #11b2e1;
      }
    }
  }
  .our-specialties .specialty-txt ul {
    max-width: 50%;
    float: left;
    padding: 0px 5px 0px 13px;
    margin: 0;

    li {
      line-height: 17px;
      margin-bottom: 10px;
      padding-right: 10px;
    }
  }

  .our-specialties .specialty-txt ul + ul {
    float: right;
    li {
      padding-right: 0;
    }
  }

  #clients {

    #client-list {
      max-width: 320px;
      margin: 0 auto;
    }

    .swiper-wrapper .item-logo {
      width: 145px !important;
    }

    .swiper-wrapper .item-logo {
    }
  }

  .no-results-box {
    margin-top: 20px;
  }

  .featured-image {
    height: 350px;

    header {
      .container {
        margin-bottom: 25px;
      }

      h1 {
        font-size: 20px;
      }
    }
  }

  .sidebar-right {
    .search-box, .categories-box {
      display: none;
    }
  }

  span.second-line {
    margin-top: 10px
  }

  .related-posts h2 {
    font-size: 24px;
    margin-top: 0;
  }

  .related-posts-inner {
    a:hover {
      color: #000;
      text-decoration: none;
    }
  }

  .about-featured-wrapper, .template-full-image-inner {
    .container.controls {
      position: relative;
      #know-more {
        left: 50%;
        margin-left: -26px
      }
    }
  }

  .page, .single-post {
    .single-post-template {
      h1 {
        margin-bottom: 0;
      }

      .entry-content {
        margin-top: 15px;
        max-width: 100%;
      }

      .post-image {
        height: 200px;
        margin-top: 20px;
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }
    }

    h3.post-item-title {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .single-post-wrapper {
    position: relative;

    .normal-size-screen {
      position: relative;
      padding-top: 5px;

      margin-bottom: 25px;
    }

    ol.indicator {
      display: none;
    }

    .yellow-bg {
      .entry-meta {
        height: 130px;
        h1 {
          font-size: 20px;
        }
      }
    }
  }

  .template-case h1.post-title {
    margin: 0;
    padding: 0;
  }

  .single-post-wrapper.template-case, #services-wrapper {
    .yellow-bg {
      .entry-meta {
        height: 100px;
      }
    }
  }

  #services-wrapper {
    .entry-meta h1 {
      font-size: 24px;
      text-transform: none;
    }
  }

  .post-masonry-image {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    margin-bottom: 10px;
  }

  .post-masonry-image.size_460-220,
  .post-masonry-image.size_220-220.post-1,
  .post-masonry-image.size_220-220.post-2 {
    width: 290px;
    height: 140px;
  }

  .post-masonry-image.size_220-220,
  .post-masonry-image.size_460-220.post-3,
  .post-masonry-image.size_220-460.post-4,
  .post-masonry-image.size_460-220.post-6 {
    width: 140px;
    height: 140px;
  }

  .post-masonry-image.size_220-460,
  .post-masonry-image.size_220-220.post-5 {
    width: 140px;
    height: 290px;
  }

  .template-case-4 {
    .post-masonry-image.size_460-460,
    .post-masonry-image.size_460-460.post-0 {
      width: 290px;
      height: 290px
    }

    .post-masonry-image.size_220-220.post-1,
    .post-masonry-image.size_220-220.post-2 {
      width: 140px;
      height: 140px;
    }
  }

  .size_220-220 {
    .se-item {
      width: 140px;
      height: 140px;

      .job-logo {
        width: 25px;
        height: 25px;
        border-width: 5px;
      }
      .cat-title {
        font-size: 10px !important;
        line-height: 10px !important;
      }

      .se-title .last-part {
        font-size: 14px;
        line-height: 16px;
        padding-right: 5px;
        clear: both;
        margin-left: 0
      }
    }
  }

  .size_460-460 {
    .se-item {
      width: 290px;
      height: 290px
    }
  }

  .size_220-460 {
    .se-item {
      width: 140px;
      height: 290px;

      .job-logo {
        width: 25px;
        height: 25px;
        border-width: 5px;
      }
      .cat-title {
        font-size: 10px !important;
        line-height: 10px !important;
      }
      .se-title .last-part {
        font-size: 14px;
        line-height: 16px;
        clear: both;
        margin-left: 0;
        padding-right: 5px;
      }
    }
  }

  .size_460-220 {
    .se-item {
      width: 290px;
      height: 140px;

      .se-title .last-part {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .return-to-jobs {
    display: none;
  }

  .return-to-jobs.m-320 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px auto 0 auto;
    font-size: 18px;
    color: #11b2e1;
    float: none !important
  }

  .template-case {
    .analyses-wrapper {
      background: #eaebec;
      margin: 0 0 30px 0;
      padding: 0 0 10px 0;
    }

    .entry-content {
      h1, h2, h3, h4, h5, h6 {
        font-family: 'effra_mediumregular', sans-serif;
      }
    }

    .group-images {
      border-bottom: 1px solid #d7d9db;
      margin: 0 0 10px 0;
    }

    .analyses {
      padding-top: 30px;
      background: #eaebec;

      .brands {
        display: inline-block;
        width: 140px;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    blockquote {
      padding: 20px 0 5px 0;
      font-size: 16px;
      &:before {
        font-size: 100px;
        left: -10px;
        top: -15px;
      }
      p {
        padding: 0 35px;
        line-height: 20px;
      }

      strong {
        margin-top: 5px;
        font-size: 24px;
        display: inline-block;
      }

      p:last-child {
        font-size: 14px;
        margin-top: -20px;
      }
    }
  }

  .group-txt {
    padding: 0 0 15px 15px;
    font-family: 'effra_mediumregular', sans-serif;
    .group-number {
      font-size: 20px;
      padding-right: 10px;
      margin-left: 10px;
    }

    /*table, tbody {
      display: block;

      tr {
        display: block;
        float: left;
        margin: 0 10px;
      }
      td {
        display: block;
        clear: both;
        text-align: left
      }
    }*/

    .group-legend {
      font-size: 20px;
    }
  }

  .se-modular-header-title {
    font-size: 16px;
  }

  .sp-modular-header {
    padding-left: 0;
    padding-right: 0;
  }

  .share-box {
    text-transform: uppercase;
    margin-top: 40px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 10px 10px;

    span.at300bs {
      margin-top: 5px;
    }

    .share-link {
      padding: 10px;
    }

    .copy-bottom {
      margin-top: 10px;
    }

    .share-title h2 {
      padding-top: 10px;
      font-size: 16px;
    }

    .share-post-title h2 {
      font-size: 20px;
      font-family: 'effra_mediumregular', sans-serif;
    }

    #copy-url {
      text-transform: none;
    }
  }

  .masonry {
    margin: 0 auto;
  }

  .home div.controls {
    margin-top: -20px;
    z-index: 21;
    div.pagination {
      padding: 0 10px;
    }
  }


  .home #about, .home #services {
    text-align: left;
  }

  .se-masonry {
    margin-bottom: 10px;
  }

  .se-masonry.category-know {
    .txt-title {
      font-size: 18px;
    }
  }

  .se-masonry.category-know.size_460-220,
  .se-masonry.category-know.size_220-220 {
    .txt-title {
      height: 22px;
      overflow-y: hidden;
    }
    .se-text {
      height: 55px;
      overflow-y: hidden;
    }
  }

  #search-form .col-md-12 {
    padding: 0;
  }

  .search-result-info {
    margin-bottom: 15px;
  }

  .category-title, .highlight-title {
    font-size: 2em;
    display: block;
  }

  span.legend {
    clear: both;
  }

  .main .dropdown-toggle.type-bottom {
    margin-top: 5px;
    width: 100%;
    background-position: right -333px !important;
  }

  .col-sm-4.form-one, .know .col-sm-8, #work .col-sm-8 {
    padding: 0;
  }

  #categories-list {
    margin-bottom: 20px;

    ul.dropdown-menu {
      right: 0;
      //left: 15px;
    }
  }

  .address-title h2 {
    text-align: center;
  }

  .address.col-md-12 {
    padding: 0;

    .col-sm-4 {
      padding: 0;
    }
  }

  .address-inner:hover > .office {
    margin-top: -88px;
  }

  .address-inner:hover > a.router-trace {
    margin-top: 25px;
  }

  #contact .address-outer {
    height: 100px;
  }

  #contact-form-header {
    height: 80px;
    line-height: 80px;

    h1 {
      font-size: 2em;
      line-height: 80px;
    }
  }

  #cm-form-phone {
    width: 150px;
  }

  .tablist-txt {
    display: none;
  }

  .tablist-control div.container {
    padding: 0;
  }

  #tablist-wrapper {
    .nav-tabs li a {
      height: 60px;
      line-height: 60px;
      padding: 0 20px;

      span.tablist-icon {
        margin-top: 20px;
        float: left;
        width: 30px;
        height: 28px;
      }
      span.commercial {
        background-position: 0 -2px;
      }
      span.research {
        background-position: -49px -2px;
      }
      span.work-with-us {
        background-position: -100px -2px;
      }
      span.others {
        background-position: -147px -2px;
      }
    }
  }

  #contact {
    .featured {
      h2 {
        font-size: 2em;
      }
      > span {
        font-size: 1.3em;
      }
    }

    .col-md-11 {
      margin: 0 auto 30px auto;
    }

    .phone-info p {
      margin-top: 15px;
    }

    h2.office-title {
      font-size: 2.5em;
      float: left;
      margin: 0 0 0 20px;
      max-width: 80px;

      span {
        display: inline-block;
        position: relative;
        line-height: 1px;
        width: 15px;
        height: 15px;
        background-position: -25px -84px;
        top: -15px;
      }
    }
  }

  .specialty-txt {
    display: none;
    padding-top: 10px;
  }

  .specialty-content.show .specialty-txt {
    display: block;
  }

  .home .pagination {
    //bottom: -17px;
  }

  #home-slide-24 {
    h2 {
      color: #12ADDB;
    }
  }

  #home-slide-22 {
    h2 {
      color: #e69a32;
    }
  }

  #home-slide-18 {
    h2 {
      color: #F4CE2F
    }
  }

  #home-slide-15 {
    h2 {
      color: #A1C746
    }
  }

  #carousel {
    padding-top: 40px;
    opacity: 0;
    p {
      font-size: 18px;
    }

    .post-txt-inner {
      margin-bottom: 50px;
    }

    .slide-bg-layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;
      background: url(../img/layer.png) repeat;
    }

    .inner-slide {
      position: relative;
      float: left;
      width: 100%;
      color: #000;
      z-index: 20;
    }

    .swiper-slide {
      -webkit-background-size: cover !important;
      background-size: cover !important;
    }
    
    .post-img {
      position: absolute;
      top: 15px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      text-align: center;
      img {
        width: 100%;
        max-width: 190px;
      }
    }

    .post-txt {
      margin: 215px auto 0 auto;
      padding: 0 10px;
      h2 {
        line-height: 5.9vw;
        font-size: 5.9vw;
        margin-bottom: 10px;
      }
    }
  }

  .image-zoom-wrapper {
    display: none;
  }

  .specialty-content {
    clear: both;
  }

  .about-featured-wrapper {
    height: 500px;

    .content-txt-inner {
      p {
        font-size: 1.3em;
      }
    }

    .content-txt {
      bottom: 10px;
    }
  }

  .post-separator {
   display: none;
  }

  .our-process-featured-title,
  .specialty-featured-title, .our-process-title, .our-process.c320 h2 {
    font-size: 20px;
  }

  .c320 {
    margin-top: 10px;
  }

  .c320 p {
    font-size: 16px;
  }

  .specialty-title.first {
    border-top: 1px solid #eaebec;
  }

  .table-style {
    display: table;
  }

  span.title-txt, span.indicator {
    display: table-cell;
    vertical-align: middle;
  }

  .specialty-title {
    font-size: 1.5em;
    cursor: pointer;
    text-align: left;
    margin: -1px 0 0 0;
    border-top: 1px solid #eaebec;
    border-bottom: 1px solid #eaebec;

    .table-style {
      height: 70px;
    }
    span {
      height: 40px;
    }
    span.title-txt {
      width: 100%;
      padding-right: 25px;
    }
  }

  .our-specialty-icon {
    margin-top: 15px;
  }

  #about {
    padding-bottom: 30px;

    .col-md-3 {
      margin-top: 30px;
    }

    .post-image {
      width: 50px;
      height: 50px;
      -webkit-background-size: cover;
      background-size: cover;
    }

    .post-32 {
      .post-image {
        background-position: -65px -1px;
      }
    }

    .post-35 {
      .post-image {
        background-position: -133px 3px;
      }
    }

    .post-38 {
      .post-image {
        background-position: -202px 2px;
      }
    }

    .post-41 {
      .post-image {
        background-position: -263px 0;
      }
    }

    .col-md-3 .post-image {
      float: left;
    }

    .about-detail-wrapper {
      float: left;
      max-width: 100%;
    }

    .col-md-3 .about-txt {
      float: left;
      max-width: 73%;
      margin-left: 15px;
    }
  }

  .page-template-page-about {
    .indicator {
      top: 12px !important
    }
  }

  #footer-inner {
    p.pull-left {
      display: none;
    }
  }

  .social-networks.pull-right {
    float: none !important;
    margin: 0 auto;
    max-width: 170px;
    li:first-child a {
      margin-left: 0 !important;
    }
  }

  .se-icon {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    background: url(../img/se-modular-icons.png) no-repeat;
  }

  .se-masonry {
    color: #fff;
    //display: table;
    &:hover {
      .bg-layer {
        background: rgba(17,178,225,0.8) !important;
      }
      cursor: pointer;
      color: #fff;
      text-decoration: none;
    }
    &:active, &:focus {
      color: #fff;
      text-decoration: none;
    }
    .bg-layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: rgba(0, 0, 0, 0.15);
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
    }
  }

  #g-title-wrapper {
    float: left;
    width: 100%;
    position: relative;
    .g-title {
      top: 0;
    }
  }

  #cases-inner {
    position: relative;
  }

  .se-masonry.category-tw, .se-masonry.category-fb {
    .bg-layer {
      background: transparent;
    }
  }

  .category-know {
    background-color: #2f3e48;
  }

  .item-6.category-know {
    background-color: #afd6e4;
  }

  .category-tw {
    background-color: #11b2e1;
  }

  .category-fb {
    background-color: #3B5998;
  }

  .category-in {
    .se-icon {
      width: 25px;
      height: 25px;
      background-position: -93px 0;
    }
  }

  .category-fb {
    .se-icon {
      width: 25px;
      height: 25px;
      background-position: -30px 0;
    }
  }

  .category-know {
    .se-icon {
      width: 26px;
      height: 24px;
      background-position: -62px 0;
    }
  }

  .category-tw {
    .se-icon {
      width: 25px;
      height: 20px;
      background-position: 0 0;
    }
  }

  #footer-inner {
    padding: 20px 0 25px 0;
  }

  .message-box {
    width: 270px;
    height: 230px;
    top: 50%;
    margin-top: -115px;
    left: 50%;
    margin-left: -135px;
    h2 {
      font-size: 1.6em;
      line-height: 25px;
      span {
        font-size: 16px;
        margin: 10px auto;
      }
    }
    .close-box {
      font-size: 1.4em;
    }
    .check-box {
      margin: 15px auto 15px auto;
    }
  }

  .contato .contact-inner h2.featured {
    font-size: 2em;
  }

  #research {
    h2 {
      margin-top: -3px;
      margin-bottom: 20px;
    }
  }

  .c320.is-not-visible {
    display: none;
  }

  #our-process-wrapper {
    display: none;
  }

  #our-process-wrapper.is-visible {
    display: block;
    text-align: left;
    margin-bottom: 30px;
    .our-process-title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 0;
    }

    .our-process-txt {
      width: 100% !important;
    }

    .pull-right {
      float: left !important;
    }

    .left-column {
      float: left;
      width: 100%;
      text-align: left;
    }
    .table-cell-style.single {
      .col-md-9 {
        width: 100%;
        text-align: left;
      }
    }
    .table-cell-style.single, .table-cell-style {
      display: block;
      width: 100%;
    }

    .table-style.first, .table-style {
      display: block;
    }

    .our-process .table-style.first {
      background: transparent;
      .arrow-up {
        background: transparent;
      }
    }
  }

  .container.is-not-visible {
    display: none;
  }

  .open-image {
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: block;
    margin: 20px auto 10px auto;
    text-transform: uppercase;
    padding: 0;
    font-size: 16px;
    font-family: 'effra_mediumregular', sans-serif;
  }

  .specialty-featured-txt {
    margin-bottom: 20px;
  }

  .zoom-close {
    width: 13px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 10;
    background: url(../img/zoom-controls.png) no-repeat -48px -84px;
  }

  .image-zoom-wrapper {
    z-index: 9999;
    img {
      vertical-align: top !important;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  .zoom-buttons {
    width: 130px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    bottom: 10px;
  }

  .zoom-plus, .zoom-minus {
    width: 50px;
    height: 53px;
    background: url(../img/zoom-controls.png) no-repeat;
    cursor: pointer;
  }

  .zoom-plus {
    background-position: 0 0;
  }

  .zoom-minus {
    background-position: -60px 0;
    margin-left: 30px
  }

  .post-item-wrapper {
    margin-bottom: 10px;
  }

  .page, .single-post, .category {
    .post-item-content, .item-content, .item-link {
      width: 300px;
      height: 140px;
      h3 {
        width: 290px;
      }
    }
  }

  #service-main .entry-header {
    h2.page-title {
      font-size: 17px !important;
      line-height: 17px !important;
    }
  }

  .single-post {
    .page-more {
      display: block;
      position: relative;
      margin: auto auto 30px auto;
    }
  }



  .page-template {
    .page-featured-wrapper {
      display: table;
      width: 100%;
      height: 430px;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    #se-list {
      position: relative;
      width: 100%;

      #dropdown-case, ul {
        width: 100%;
        font-size: 16px;
      }
    }

    .se-categories {
    }

    .page-more {
      display: block;
      position: relative;
      margin: auto auto 30px auto;
    }

    .page-featured {
      display: table-cell;
      width: 100%;
      vertical-align: bottom;
      background: url(../img/layer.png) repeat;
    }

    .entry-link {
      display: block;
      margin-bottom: 25px;

      a {
        font-size: 16px;
        font-family: 'effra_mediumregular', sans-serif;
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        background: #11b2e1;
        text-align: center;
        text-decoration: none;
        color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        text-transform: uppercase;

        &:hover {
          background: #3FC9F1;
        }

        &:active {
          -webkit-box-shadow: 0px 3px 0px #139BDC inset;
          -moz-box-shadow: 0px 3px 0px #139BDC inset;
          box-shadow: 0px 3px 0px #139BDC inset;
        }
      }
    }

    .article-outer {
      overflow: hidden;
      position: relative;
      border-bottom: 2px solid #eaebec;

      .primary-content {
        margin-bottom: 15px;
      }

      article.entry-content {
        display: none;
      }

      .bg-layer {
        background: #fff;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .indicator {
        position: absolute;
        right: 0;
        top: 30px;
      }

      .container {
        position: relative;
        z-index: 1
      }

    }

    .page-logo {
      display: inline-block;
      float: left;
      width: 50px;
      height: 50px;
      margin: 0 20px 0 0;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      border: 10px solid;
    }

    .page-559 .page-logo {
      border-color: #e69a32
    }

    .page-561 .page-logo {
      border-color: #f4ce2f
    }

    .page-563 .page-logo {
      border-color: #a1c746
    }

    .page-565 .page-logo {
      border-color: #12addb
    }

    .page-title {
      float: left;
      margin: 6px 0 0 0;
      font-family: 'effra_mediumregular', sans-serif;
      display: inline-block;
      text-transform: uppercase;
      font-size: 5.9vw;
      line-height: 5.9vw;
      width: 100%;
      cursor: pointer;

      .title-txt {
        width: 160px;
      }
    }

    .entry-header {
      display: table;
    }

    .entry-header.col-md-4 {
      width: 100%;
      padding: 0;
    }

    .secondary-content {

      p {
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'effra_mediumregular', sans-serif;
      }
      ul {
        font-size: 14px;
        clear: both;
        text-align: left;
        padding: 10px 15px;
      }
    }

    .entry-content-inner, .entry-header-inner, .entry-arrow {
      display: table-cell;
      height: 100px;
    }

    .entry-content-inner, .entry-header-inner, .entry-arrow, .entry-link {
      width: 100%;
      position: relative;
      vertical-align: middle;
    }

    .entry-content {
      font-size: 16px;
    }
    h3.sp-applied-title {
      margin: 20px 0;
    }
  }

  h1.content-featured-title {
    font-size: 5vw;
    line-height: 5vw;
    color: #12ADDB;
  }

  .services-inner {

    .entry-header, article.entry-content {
      text-align: left;
    }

    .entry-content p {
      display: block;
      text-align: left;
      font-size: 16px;
      color: #fff;
    }
  }

  .se-masonry {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    //position: relative;
    //display: table-cell;
    //float: left;
    .se-text {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .se-user {
    display: block;
    font-family: 'effra_mediumregular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    &:before {
      content: '@';
    }
  }

  .page, .home {
    .se-item-inner {
      position: relative;
      z-index: 1;
      overflow: hidden;
      padding: 20px 0 0 5px;
      h2 {
        margin: 0;
      }
    }

    .category-in {
      .se-item-inner {
        padding-top: 40px;
      }
    }

    .category-tw, .category-know, .category-fb {
      .se-item-inner {
        height: inherit;
        display: table-cell;
        width: 100%;
        vertical-align: bottom;
      }
      .txt-title, .se-text {
        padding: 0 10px 10px 10px;
      }

      .txt-title {
        padding-bottom: 0;
      }
    }

    .category-fb, .category-tw, .category-in, .category-know {
      .se-item-inner {
        //padding: 20px;
      }
    }
  }

  .se-modular {
    margin-top: 30px;
  }

  .trabalhos {
    .post-item-content .excerpt-inner {
      h1, h2, h3, h4, h5, h6 {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
      max-height: 20px;
      overflow: hidden;
    }

    .size_460-460 .post-item-content {
      height: 300px;
    }

    .category-title {
      margin-bottom: 15px;
    }
  }

  .item-link {
    margin: 0 0 10px 0;
  }

  .se-modular-items, .se-modular-inner {
    margin: 20px auto 0 auto;
    width: 100%;
  }

  #know-main.container, #work-main.container {
    padding-left: 4px;
    padding-right: 4px;
  }

  #know-main-inner.col-md-12, #work-main-inner.col-md-12 {
    padding-left: 5px;
  }

  .charge .col-md-12 {
    padding: 0;
    margin-top: 10px;
  }

  #work-main-inner {
    margin: 0 auto;
  }

  .home #services {
    margin-top: 30px;

    .container {
      padding: 0;
    }

    .box a {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .col-sm-3 {
      border-bottom: 2px solid #eaebec;
    }

    .col-sm-3.post-559 {
      border-top: 2px solid #eaebec;
    }

    .service-image {
     border: 12px  solid;
      width: 55px;
      height: 55px;
      -webkit-border-radius: 55px;
      -moz-border-radius: 55px;
      border-radius: 55px;
      float: left;
    }

    .services-txt {
      float: left;
      width: 79%;
    }

    .post-559 {
      .service-image {
        border-color: #e69a32;
      }
    }

    .post-561 {
      .service-image {
        border-color: #f4ce2f;
      }
    }

    .post-563 {
      .service-image {
        border-color: #a1c746;
      }
    }

    .post-565 {
      .service-image {
        border-color: #11b2e1;
      }
    }

    .services-txt {
      .h-arrow {
        float: right;
        width: 12px;
        height: 21px;
        margin-top: 20px;
        background: url(../img/beer.png) no-repeat -22px -478px;
      }
      h3 {
        text-align: left;
        float: left;
        margin: 10px 0 0 20px;
      }
    }
  }

  #re-state, #nv-state {
    border: 1px solid #e2e8ee;
    &:focus, &:active {
      border: 1px solid #e2e8ee;
    }
  }

  #work-with-us {
    .vacancy-box {
      background: #e9eaeb;
      width: 100%;
      margin-bottom: 10px;
    }

    .vacancy-box-inner {
      padding: 20px;
    }

    .vacancy-amount {
      font-size: 20px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      -webkit-border-radius: 36px;
      -moz-border-radius: 36px;
      border-radius: 36px;
      background: #11b2e1;
      color: #fff;
      text-align: center;
      float: right;
      margin-top: 22px;
    }
    .vacancy-title {
      float: left;
      display: block;
    }

    .vacancy-link {
      display: block;
      float: left;
      width: 100%;
      span {
        margin: 10px 0 0 0;
      }
    }

    h3 span {
      display: block;
      margin-top: 5px;
    }
  }

  #no-vacancy {
    h2 br {
      display: block;
      margin-top: 15px;
    }
  }

  #service-main {
    .entry-header-inner, .entry-header {
      height: 80px;
    }
  }

  h3#vacancy-title {
    font-size: 20px;
    margin: 20px 0 0 15px;
    line-height: 18px;
    span {
      font-size: 15px;
    }
  }

  ul.dropdown-menu#city-groups-two, input#nv-city {
    width: 245px;
  }

  #vacancy-col2 {
    padding: 30px 20px 12px 20px;
    margin-top: 30px;
    background: #e9eaeb;
    h3 {
      margin-top: 0;
    }

    .input-group.select-city {
      width: 100%;
    }
    
    label[for="nv-upload"], input.dropdown-toggle#nv-city {
      width: 235px;
    }

    label[for="nv-upload"] {
      display: block;
    }

    ul.dropdown-menu#city-groups-two {
      width: 235px;
    }
  }

  .single-post {
    article.container {
      margin-top: 30px;
    }

    h3.sp-applied-title {
      margin: 30px 0 30px 15px;
    }

    .blueimp-gallery > .prev,
    .blueimp-gallery > .next {
      margin-top: -13px;
    }

    .blueimp-gallery {
      width: 100%;
      img {
        display: block;
      }
      //min-height: 230px;
    }

    .entry-content {
      margin-top: 25px;

      p {
        margin-bottom: 20px;
      }

      iframe {
        width: 290px;
        height: 150px;
      }
      .group-txt {
        p {
          margin-bottom: 10px;
        }
      }
    }
  }

  .template-case .analyses .brands img {
    width: 70px;
  }

  .page-id-775 .specialty-title,
  .page-id-774 .specialty-title {
    border: none;
  }

  .our-specialties .container > .col-md-12 {
    border-bottom: 2px solid #eaebec;
  }

  .m-info-service {
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    margin: 15px auto 25px auto;
    font-family: 'effra_mediumregular', sans-serif;
    font-size: 16px !important;
  }

  .input-group.file-upload {
    display: block;
  }


  .lightbox-specialty {
    position: fixed;
    z-index: 1930;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #fff;

    .lg-back-mobile {
      color: #11b2e1;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      padding-left: 10px;
      position: absolute;
      top: 20px;
      z-index: 999;
      display: none;
      background: url(../img/beer.png) no-repeat -44px -185px;
    }

    .detail-content, .m-content {
      color: #000;
      font-size: 16px;
      margin-top: 15px;
      line-height: 20px;
      font-family: 'effraregular', sans-serif;
    }

    .loading {
      left: 50%;
      margin-left: -5px;
      top: 30px;
      right: auto;
    }

    .lg-content-wrapper-mobile {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 20px 20px 20px
    }

    .lg-content-mobile {
      .lg-close {
        background: transparent;
        color: #11b2e1;
        font-size: 26px;
        z-index: 99999 !important;
        position: absolute;
        right: 10px;
        top: 20px;
      }

      .lg-mobile {
        margin-top: 20px;
        float: left;
      }

      .detail-title {
        margin-top: 0
      }

      .lg-close:after {
        content: 'x'
      }

      .sp-links ul {
        border: none !important;
        margin: 15px 0 0 0;
        padding: 0 0 0 20px;
        li {
          margin-bottom: 5px;
        }
        li a {
          padding: 0 5px;
        }
      }

      .deliverable-detail {
        position: absolute;
        display: table;
        width: 100%;
        left: -100%;
        right: 0;
        height: 100%;
        bottom: 0;
        top: 0;
        background: #fff;

        .deliverable-detail-inner {
          display: table-cell;
          vertical-align: middle;
          overflow-y: auto;
          overflow-x: hidden;
          padding: 0 20px 20px 20px;
        }
      }
    }
  }

  .page .sp-specialties-inner {
    margin-bottom: 30px;
    border-bottom: 2px solid #d8d9db;
  }

  .single-post .sp-specialties-inner {
    border-bottom: 2px solid #d8d9db;
  }

  .group-2, .group-3, .group-4 {
    .btn-group, .dropdown-toggle {
      width: 70px;
    }

    .dropdown-toggle {
      padding: 0 10px 0 0;
    }
  }
  .related-posts {
    h3.item-title {
      span.cat-title, span.last-part {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  article.post-item-wrapper.size_460-220,
  article.post-item-wrapper.size_220-220,
  article.post-item-wrapper.size_460-460 {
    h3.post-item-title span.cat-title,
    h3.post-item-title span.cat-title {
      font-size: 14px;
      line-height: 16px;
    }
  }


  .page, .home {
    a.se-masonry.size_460-220, a.se-masonry.size_460-460 {
      div.se-item {
        h3.se-title {
          max-width: 250px;
        }
      }
    }

    a.se-masonry.size_220-220, a.se-masonry.size_220-460 {
      div.se-item {
        h3.se-title {
          max-width: 190px;
        }
      }
    }
  }

  .template-full-image-inner {
    background: url(../img/layer.png) repeat;
  }

  .home-b#about {
    background: transparent !important;
    height: 1px !important;
    padding: 10px 0 !important;
    margin: 0 !important
  }
}
