@media (min-width: 480px) {
  .about-featured-wrapper {
    height: 320px;
  }

  #cases-inner.container, .se-modular.container {
    width: 100%;
  }

  #tablist-wrapper {
    .nav-tabs li a {
      padding: 0 40px;
    }
  }

  #research-contact {

    .select-state {
      width: 31%;
    }

    .select-city {
      width: 65.5%;
    }

    .select-state, .select-city {
      .form-inline, .btn-group, #city-groups, #state-groups {
        width: 100%;
        #re-state, #re-city, .dropdown-menu {
          width: 100% !important;
        }
      }
    }
  }

  .page, .single-post, .category {
    .post-item-content, .item-content, .item-link {
      width: 460px;
      height: 140px;
    }
  }

  #vacancy-col2 {
    label[for="nv-upload"] {
      display: block;
    }
  }

  .sp-title {
    font-size: 18px;
  }

  #about {
    .about-detail-wrapper {
      float: left;
    }

    .col-md-3 .about-txt {
      float: left;
      max-width: 83%;
      margin-left: 15px;
      text-align: left;
    }
  }

  .group-2 {
    margin-right: 30px;
  }

  .attached-image {
    width: 460px;
    height: 270px;
    top: -290px;
    margin-left: -230px;
    img {
      width: 270px;
    }
  }

  .sp-title {
    width: auto;
  }

  .post-txt {
    margin-top: 330px;
  }

  .single-post {
    .entry-content {
      iframe {
        width: 460px;
        height: 245px;
      }
    }
  }

  #carousel {
    .post-txt {
      margin-top: 250px;
      h2 {
        line-height: 4.4vw;
        font-size: 4.4vw;
      }
    }
    .post-img {
      img {
        max-width: 220px;
      }
    }
  }
}