@media (min-width: 690px) {

  .sp-title {
    width: auto;
  }

  #about {
    .about-detail-wrapper {
      max-width: 330px;
    }

    .col-md-3 .about-txt {
      max-width: 230px;
    }
  }

  #carousel {
    .post-txt h2 {
      line-height: 3.6vw;
      font-size: 3.6vw;
    }
  }

  h1.content-featured-title {
    line-height: 3.6vw;
    font-size: 3.6vw;
  }

  .se-modular.container {
    width: 690px;
  }

  .group-3.pull-left {
    float: right !important;
  }

  .about-featured-wrapper .content-txt-inner {
    max-width: 550px;
  }
}
