@media (min-width: 767px) {

  .home {
    div.controls {
      margin-top: 0
    }
  }

  .top-menu {
    .custom-selected .dropdown-menu {
      position: absolute;
      border-bottom: none;
      top: 20px;
      left: 0;
      right: 0;
      min-width: 240px;
      padding: 0;
    }

    .dropdown:hover {
      .dropdown-menu {
        //display: block !important;
      }
    }
    .dropdown-menu-inner {
      li {
        margin-left: 0;
        a {
          padding-left: 7px;
        }
        &.active a {
          color: #11b2e1;
        }
      }
    }
  }

  .custom-selected:hover {
    padding-bottom: 25px;
    .dropdown-menu {
      display: block !important;
      height: 160px;
      padding: 5px 0;
    }
  }

  body.page-id-568 {
    height: auto;

    .main {
      height: auto;
    }
  }

  body.page-template-page-about {
    height: 100%;
    .main {
      height: 100%;
    }
  }

  #about {
    .about-detail-wrapper {
      max-width: 380px;
    }

    .col-md-3 .about-txt {
      max-width: 270px;
      margin-right: 10px;
    }
  }

  .swiper-container {
    //padding-bottom: 20px;
  }

  /*body.page, body.page .main, body.single-post, body.single-post .main,
  body.page-template-page-knowledge, body.page-template-page-knowledge .main {
    height: auto;
  }*/

  #know-header-wrapper {
    margin-bottom: 5px;
  }

  .m-info-service {
    display: none;
  }

  #clients {
    #client-list {
      max-width: 100%;
      text-align: center;
    }

    h2.clients-title {
      font-size: 30px;
      margin: 60px 0 50px 0;
    }

    .swiper-wrapper .item-logo, .swiper-wrapper .swiper-slide, .swiper-wrapper .no-swiper-slide {
      width: 180px !important;
    }

    .swiper-wrapper .item-logo {
      display: inline-block;
      border-left: 2px solid #eaebec;
    }

    .swiper-wrapper .item-logo.no-border {
      border: none;
    }

    .swiper-wrapper .swiper-slide, .swiper-wrapper .no-swiper-slide {
      float: none !important;
      display: inline !important
    }
  }

  .sidebar-right {
    .search-box, .categories-box {
      display: block;
    }
  }

  .no-results-box {
    margin-top: 30px;
  }

  body.single-post {
    //min-height: 100%;
  }

  .return-to-jobs {
    margin: 15px 10px 0 20px;
    font-size: 18px;
    color: #11b2e1;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }

  .return-to-jobs.m-320 {
    display: none;
  }

  .thumbnails-wrapper {
    display: block;
  }

  .select-state {
    position: relative;
  }

  .single-post-wrapper {

    .normal-size-screen {
      .post-gallery {
        max-height: 465px !important;

        img {
          display: block;
          width: 100%;
          height: 465px !important;
        }
      }
    }

    .full-size-screen {
      position: fixed;
      z-index: 1030;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background: #333333;
      height: 100%;

      + .thumbnails-wrapper {
        display: none;
      }

      + .pagination {
        width: 100%;
        position: fixed;
        height: 16px;
        z-index: 1032;
        text-align: center;
        bottom: 30px;
        span {
          cursor: pointer;
          width: 16px;
          height: 16px;
          display: inline-block;
          margin: 5px;
          border: 1px solid #111;
          background: #979797;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          border-radius: 16px;
          &:hover, &.swiper-active-switch {
            background: #D6D6D6;
          }
        }
      }

      .gallery-title {
        position: absolute;
        font-size: 25px;
        margin: 20px;
        color: #D6D6D6;
      }

      .close {
        display: block;
        position: absolute;
        color: #D6D6D6;
        font-family: 'effra_lightregular', sans-serif;
        font-size: 80px;
        top: 20px;
        cursor: pointer;
        line-height: 40px;
        height: 50px;
        z-index: 999;
        right: 20px;
        &:hover {
          color: #fff;
        }
      }

      .content-next:after {
        content: '›';
      }

      .content-prev:after {
        content: '‹';
      }

      .content-next, .content-prev {
        border: 3px solid #D6D6D6;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        height: 50px;
        width: 50px;
        line-height: 33px;
        top: 50%;
        margin-top: -20px;
        font-size: 80px;
        background: #262626 none;
        font-family: 'effra_lightregular', sans-serif;
        color: #D6D6D6;

        &:hover {
          color: #fff;
          border-color: #fff;
        }
      }

      .post-gallery {
        height: inherit;
        vertical-align: middle;
        text-align: center;
        opacity: 0;

        .swiper-wrapper {
          height: inherit;
          text-align: center
        }

        .swiper-slide img, .no-swiper-slide img {
          display: inline-block;
          vertical-align: middle;
          position: relative;

          width: auto;
          max-height: 500px;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.85);
          -webkit-transition: 300ms;
          -moz-transition: 300ms;
          -ms-transition: 300ms;
          -o-transition: 300ms;
          transition: 300ms;
          -webkit-transform: scale(0.5);
          -moz-transform: scale(0.5);
          -ms-transform: scale(0.5);
          -o-transform: scale(0.5);
          transform: scale(0.5);
          -webkit-backface-visibility: hidden;
          opacity: 0.3;
        }
        .swiper-slide-active img {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          opacity: 1;
          margin: 0 auto;
        }

        .swiper-slide, .no-swiper-slide {
          height: inherit !important;
        }
        .swiper-slide .inner, .no-swiper-slide .inner {
          height: inherit;
          display: table-cell;
          width: inherit;
          text-align: center;
          vertical-align: middle;
          padding: 20px 20px 50px;
        }
      }

      .blueimp-gallery {
        .close, .title, .next, .prev {
          display: block;
        }

        .title {
          font-size: 25px;
          font-family: 'effraregular', sans-serif;
        }
      }

      .blueimp-gallery.blueimp-gallery-controls {
        .close, .title, .next, .prev {
          display: none;
        }
      }
    }

    .normal-size-screen span.fullsize {
      position: absolute;
      z-index: 1;
      right: 0;
      width: 46px;
      height: 37px;
      background: url(../img/beer.png) no-repeat 3px -766px;
      cursor: pointer;
      //display: none;
      opacity: 0;
      display: block;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
    }

    .normal-size-screen {
      max-height: 465px;
      overflow: hidden;
      padding-top: 10px;
      margin-bottom: 0;
      &:hover {
        span.fullsize {
          opacity: 1;
        }
      }
      + .thumbnails-wrapper {
        position: relative;
        height: 95px;
        overflow: hidden;
        margin-bottom: 30px;
      }

      .close {
        display: none;
      }
    }

    ul.thumbnails {
      display: block;
      position: relative;
      padding: 0;
      margin: 0;
    }

    .yellow-bg {
      .entry-meta {
        height: 140px;

        h1 {
          font-size: 36px;
        }
      }
    }
  }

  .template-case, #services-wrapper {
    .yellow-bg {
      .entry-meta {
        h1 {
          font-size: 30px;
          text-transform: none;
        }
      }
    }
  }

  .featured-image {
    height: 480px;

    header {
      .container {
        margin-bottom: 40px;
      }

      h1 {
        font-size: 36px;
      }
    }
  }

  .related-posts {
    h2 {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 30px;
      display: inline-block;
    }

    .related-posts-inner {
      display: inline-block;
    }
  }

  #know-main {
    margin-top: 5px;
  }

  .share-box {
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    max-width: 780px;
    top: 50%;
    margin-top: -212px;
    padding: 0 0 20px 20px;
    left: 50%;
    margin-left: -390px;

    span.at300bs {
      margin-top: 0;
    }

    .share-title h2 {
      font-size: 22px;
      margin: 0;
      padding: 30px 10px 0 10px;
    }

    .share-post-title h2 {
      font-size: 30px;
      margin: 0;
      padding: 5px 10px 0 10px;
    }

    .share-link h2 {
      padding: 0 10px 0 0;
    }

    .share-link {
      padding: 20px;
      margin-right: 20px;

      #copy-url {
        overflow: hidden;
        padding: 15px 0 0 0;
        margin-right: 20px;
      }
    }

    .copy-bottom {
      margin-top: 0
    }
  }

  h3.sp-applied-title {
    width: auto;
  }

  .single-post {
    article {
      margin-top: 30px;
    }

    .single-post-template {
      margin-top: 10px;

      h1 {
        margin-bottom: 0;
      }

      article {
        margin-top: 0;
      }

      .post-image {
        height: 350px;
      }
    }

    h3.sp-applied-title {
      margin: 30px 0 0 0;
      width: auto;
      font-size: 20px;
    }

    .single-post-wrapper div.container.post-outer {
      //padding-left: 10px;
      padding-right: 0;
    }

    .blueimp-gallery > .prev,
    .blueimp-gallery > .next {
      top: 0;
      margin-top: 252px;
    }

    .entry-content {
      float: left;
      max-width: 665px;
      margin-top: 0;

      p {
        margin-bottom: 20px;
      }

      iframe {
        width: 640px;
        height: 390px;

      }
    }

    .sidebar-right {
      max-width: 290px;
      .sidebar-inner {
        margin-left: 20px;
      }
    }

    .search-box {
      max-width: 220px;
    }

    .search-box {
      padding-top: 29px;
      input.search-field {
        height: 50px;
        line-height: 50px;
      }

      .search-form {
        margin-top: 0
      }

      .search-submit {
        width: 33px;
      }
    }
  }

  .single-post {
    .template-case {
      .entry-content {
        max-width: 960px;
      }
    }
  }

  #work-with-us-inner {
    min-height: 400px;
    -webkit-transition: height 500ms linear;
    -moz-transition: height 500ms linear;
    -ms-transition: height 500ms linear;
    -o-transition: height 500ms linear;
    transition: height 500ms linear;
  }

  h3#vacancy-title {
    line-height: 23px;
    margin: 15px 0 0 25px;
    font-size: 30px;

    span {
      font-size: 18px;
    }
  }

  #head-line {
    h2 {
      display: none;
    }
  }

  #no-vacancy {
    h2 br {
      display: inline;
      margin-top: 0;
    }
  }

  #work-with-us {

    label[for="nv-upload"] {
      min-width: 100%;
    }

    #vacancies {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    #no-vacancy-form {
      input#nv-city {
        min-width: 330px;
      }

      .input-group.select-city {
        width: 330px;
      }
    }

    #vacancy-col2 {
      padding: 25px 30px 12px 30px;
      .input-group.select-city {
        width: 280px;
      }
    }

    .vacancy-amount {
      font-size: 48px;
      float: none;
      color: #002D31;
      width: auto;
      height: auto;
      background: transparent;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      span {
        margin-top: -5px;
        display: block;
        font-size: 16px;
      }
    }

    .vacancy-title {
      margin-top: 15px;
      float: none;
    }

    .vacancy-title span {
      margin-top: 5px;
    }

    .vacancy-box {
      width: 220px;
      height: 220px;
      margin: 20px 20px 0 0;
      float: left;
      text-align: center;
    }

    .vacancy-box.last {
      margin-right: 0;
    }

    .vacancy-box-inner {
      padding: 10px 15px;
    }

    .vacancy-link {
      width: auto;
      float: none;
      span {
        display: block;
        margin: 10px auto 0 auto;
      }
    }
  }

  .home {
    padding-bottom: 0;
    div.pagination {
      top: -30px;
      position: absolute;
      z-index: 1;
    }
  }

  .home #services {
    margin-top: 50px;
    margin-bottom: 50px;

    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .box a {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .box a:hover {
      border: 1px solid #eaebec;
    }

    .col-sm-3 {
      width: 25%;
      border: none;
    }

    .col-sm-3.post-559 {
      border: none
    }

    .service-image {
      width: 131px;
      height: 131px;
      border: 26px solid;
      -webkit-border-radius: 131px;
      -moz-border-radius: 131px;
      border-radius: 131px;
    }

    .services-txt, .service-image {
      float: none;
    }

    .post-561 {
      .service-image {
        background-position: -142px 0;
      }
    }

    .post-563 {
      .service-image {
        background-position: -283px 0;
      }
    }

    .post-565 {
      .service-image {
        background-position: -424px 0;
      }
    }

    .services-txt {
      h3 {
        margin: 20px auto 0 auto;
        text-align: center;
        float: none;
      }
      .h-arrow {
        float: none;
        background: url(../img/beer.png) no-repeat 0 -39px;
        width: 23px;
        height: 11px;
        margin: 15px auto 0 auto;
      }
    }

    .services-txt {
      float: none;
      width: 100%;
    }
  }

  .search-result-info {
    margin: 0 0 25px 0;
  }

  #search-form .col-md-12,
  .col-sm-4.form-one, .know .col-sm-8,
  .charge .col-md-12, #work .col-sm-8 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .charge .col-md-12 {
    margin-top: 0;
  }

  #know-main-inner.col-md-12 {
    padding: 0;
    margin-left: 9px;
  }

  #know-main.container, #work-main.container {
    max-width: 975px;
    padding-left: 10px;
    padding-right: 5px;
  }

  .se-item {
    .se-text {
      font-size: 16px;
      line-height: 18px;
    }
    position: relative;
  }

  #know-main.container {
    padding-left: 7px;
  }

  .se-user {
    font-size: 18px;
    padding-bottom: 5px;
  }

  #g-title-wrapper {
    margin: 30px 0 40px 0;
  }

  .page, .single-post, .category {
    h3.post-item-title {
      font-weight: normal;
      font-size: 24px;
      .last-part {
        display: block;
      }
    }

    .size_220-220 {
      .last-part {
        font-size: 14px !important;
        line-height: 17px !important;
      }
    }
    .item-content, .item-link {
      width: 220px;
      height: 220px;
      h3 {
        width: 220px;
      }
    }
  }

  .item-link {
    margin: 0 10px 20px 10px;
  }

  .col-sm-4.form-one, #categories-list {
    float: right;
    margin-bottom: 20px;
  }


  span.second-line {
    margin-top: 0
  }

  .highlight-title {
    font-size: 2.5em;
  }

  .main .dropdown-toggle.type-bottom {
    margin-top: 0;
    width: 230px;
  }

  span.legend {
    margin-top: 15px;
    margin-right: 17px;
    padding-left: 2px;
    clear: none;
    float: left;
  }

  .col-md-1, .col-md-2,
  .col-md-3, .col-md-4,
  .col-sm-4, .col-sm-6,
  .col-md-5, .col-md-6,
  .col-md-7, .col-md-8,
  .col-sm-8, .col-md-9,
  .col-md-10, .col-md-11,
  .col-md-12 {
    padding-left: 5px;
    padding-right: 5px;
  }

  #footer-inner .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
  }

  #categories-list {
    margin-bottom: 0;

    ul.dropdown-menu {
      width: 230px;
      left: auto !important;
      right: 5px !important
    }
  }

  .page-id-138 .main {
    height: auto;
  }

  #research, #others-contacts {
    h2 {
      display: none;
    }
  }

  .input-group.input-radio {
    //margin-left: 20px;
  }

  .address-title h2 {
    text-align: left;
    font-size: 2.5em;
  }

  .message-box {
    top: 50%;
    width: 460px;
    height: 360px;
    left: 50%;
    margin-left: -230px;
    top: 50%;
    margin-top: -180px;
    h2 {
      font-size: 2.5em;
      padding: 0 30px;
      line-height: 33px;
      span {
        font-size: 18px;
        margin: 20px auto 40px auto;
        line-height: 25px;
        padding: 0 35px;
      }
    }
    .close-box {
      font-size: 1.4em;
    }
    .check-box {
      margin: 35px auto 35px auto;
    }
  }

  #footer-inner {
    padding: 50px 0 15px 0;
  }

  .social-networks.pull-right {
    float: right !important;
  }

  #footer-inner {
    p.pull-left {
      display: block;
    }
  }

  .address-inner:hover > .office {
    margin-top: -150px;
  }

  .address-inner:hover > a.router-trace {
    margin-top: 30px;
  }

  #contact .address-outer {
    height: 200px;
  }

  .address.col-md-12 {
    padding: 0 15px;

    .col-sm-4 {
      padding: 0 15px;
    }
  }

  #contact {
    h2.office-title {
      font-size: 4em;
      max-width: 100%;
      float: none;
      margin-bottom: 25px;

      span {
        width: 24px;
        height: 24px;
        top: -25px;
        background-position: 0 -155px;
      }
    }
  }

  .office {
    height: 120px;
    max-width: 298px;
  }

  .specialty-content {
    clear:  both;
  }

  .nav > li > a {
    padding-left: 7px;
    padding-right: 7px
  }

  .navbar-brand {
    height: 50px;
  }

  .office-info {
    margin: 30px 0;
  }

  #commercial h2 {
    display: none;
  }

  #cm-form-phone {
    width: 100%;
  }

  .tablist-control div.container {
    padding: 0 15px;
  }

  .tablist-txt {
    display: inline-block;
  }

  .yellow-bg {
    #contact-form-header, .know {
      height: 100px;
      h1 {
        font-size: 2.5em;
        font-family: 'effra_mediumregular', sans-serif;
        line-height: 100px;
        margin: 0;
      }
    }

    #work h1 {
      margin-top: 35px;
    }
  }

  .template-case h1.post-title {
    margin-top: 0;
  }

  #carousel {
    padding-top: 40px;
    height: 100%;
    min-height: 430px;

    .swiper-slide, .no-swiper-slide {
      height: inherit !important;
    }

    .swiper-wrapper {
      height: 100%;
      min-height: 430px;
    }

    .swiper-slide {
      min-height: 430px !important;
    }

    .post-txt {
      margin: 0;
      .post-txt-inner {
        max-width: 650px;
      }
      h2 {
        line-height: 3.7vw;
        font-size: 3.7vw;
      }
    }

    .inner-slide {
      display: table;
      height: inherit;
    }
    .post-txt, .post-img {
      position: relative;
      display: table-cell;
      height: inherit;
      vertical-align: middle;
    }

    .post-txt-inner {
      margin: 0;
    }

    .post-img {
      img {
        float: right;
        max-width: 440px !important;
      }
    }

    p {
      font-size: 22px;
    }
  }

  .about-featured-wrapper {
    height: 90%;
  }

  .banner {
    .dropdown-menu {
      background: #2f3e48;
      a {
        margin-left: 0;
        span {
          display: none;
        }
      }
    }
  }
  .top-nav {
    float: left;

    a#toggle-menu {
      display: none;
    }
  }

  #address-one, #address-two, #address-tree {
    margin: 0 auto;
  }

  #tablist-wrapper {
    .nav-tabs li a {
      .tablist-txt {
        display: none;
      }
      height: 70px;
      line-height: 70px;
      padding: 0 30px 0 15px;

      span.tablist-icon {
        margin-top: 20px;
        margin-right: 15px;
        float: left;
        margin-left: 30px;
        width: 30px;
        height: 28px;
      }
      span.commercial {
        background-position: 0 -2px;
      }
      span.research {
        background-position: -49px -2px;
      }
      span.work-with-us {
        background-position: -100px -2px;
      }
      span.others {
        background-position: -147px -2px;
      }
    }
  }

  .template-case {

    .analyses-wrapper {
      //min-height: 275px;
      background: #eaebec;
      margin: 20px 0 30px 0;
      padding: 0;
    }

    .analyses {
      padding: 0;
      position: absolute;
      background: #eaebec;
      width: 100%;
      left: 0;
      //min-height: 275px;

      .brands {
        display: inline-block;
        margin-bottom: 0;
        //width: 100%;
        width: 117px;
        //text-align: left;
        //padding-right: 45px;
        text-align: center;
        img {
          width: 70px;
        }
      }

      .analyses-inner {
        max-width: 940px;
        margin: 0 auto;
      }
    }

    .group-images {
      padding: 40px 0 40px 0;
      margin: 0 0 0 -15px;
    }

    .group-txt {
      padding: 30px 0 30px 0;
      text-align: center;
      .group-0, .group-1, .group-2 {
        display: inline;
      }

      .clearfix {
        display: none
      }

      .group-number {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        display: inline-block;
        margin-left: 0
      }

      .group-legend {
        text-align: center;
        font-size: 30px;
        padding-right: 10px;
        display: inline-block;
      }
    }

    .entry-content {
      font-size: 18px;

      h1, h2, h3, h4, h5, h6 {
        font-size: 30px;
        margin: 30px 0 15px 0;
      }

      h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin: 17px 0 15px 0;
      }
    }

    blockquote:before {
      font-size: 160px;
      line-height: 160px;
    }

    blockquote {
      padding: 20px 0 5px 0;
      font-size: 26px;
      p {
        padding: 0 80px;
        line-height: 30px;
      }

      strong {
        margin-top: 5px;
        display: inline-block;
      }

      p:last-child {
        font-size: 18px;
        margin-top: -20px;
      }
    }
  }

  .page-template {

    #se-modular-wrapper {
      margin-top: 20px;
    }

    #se-list {
      width: 290px;
      ul, #dropdown-case {
        width: 220px;
      }
    }

    .page-featured-wrapper {
      height: 100%;
    }

    .indicator {
      display: none;
    }

    .page-more {
      margin: auto auto 40px auto;
    }

    .entry-header {
      //width: 300px;
    }

    .page-title {
      font-size: 18px;
      //width: 240px;
      cursor: auto;
    }

    .page-logo {
      margin: 0 30px 0 0;
    }

    .entry-content {
      margin: 0 auto;
      p {
        margin: 0;
        display: inline-block;
        max-width: 650px;
      }
    }

    h3.sp-applied-title {
      margin: 60px 0 40px 0;
    }

    .article-outer.page-565 {
      border-bottom: 0
    }
  }

  .post-separator {
    display: block;
  }

  #vacancy-form .select-city .btn-group #city-groups-two {
    width: 280px;
  }

  .page-id-568 {
    .footer-wrapper {
      margin-top: -30px
    }
  }

  .services-inner {
    .entry-header {
      max-width: 650px;
    }
    .page-title {
      font-size: 3.7vw;
      line-height: 3.7vw;
      margin-bottom: 10px;
    }

    .entry-content p {
      font-size: 22px;
    }

    .entry-content-outer {
      padding-top: 30px;
      margin-bottom: 50px;
    }
  }

  .template-case-4 {
    .post-masonry {
      margin-top: 50px;
    }
    iframe {
      margin-top: 25px;
    }

    .post-masonry-image.size_460-460,
    .post-masonry-image.size_460-460.post-0 {
      width: 460px;
      height: 460px
    }

    .post-masonry-image.size_220-220.post-1,
    .post-masonry-image.size_220-220.post-2 {
      width: 220px;
      height: 220px;
    }
  }

  .post-masonry-image {
    margin-bottom: 20px;
  }

  .post-masonry-image.size_220-220,
  .post-masonry-image.size_220-220.post-1,
  .post-masonry-image.size_220-220.post-2,
  .post-masonry-image.size_220-220.post-5 {
    width: 220px;
    height: 220px;
  }

  .post-masonry-image.size_460-220,
  .post-masonry-image.size_460-220.post-3,
  .post-masonry-image.size_460-220.post-6 {
    width: 460px;
    height: 220px;
  }

  .post-masonry-image.size_220-460,
  .post-masonry-image.size_220-460.post-4 {
    width: 220px;
    height: 460px;
  }

  .top-nav {
    float: right;

    a#toggle-menu {
      float: right;
      display: block;
      margin-top: 27px !important;
    }

    .navbar-nav li.open > a, .navbar-nav li.active > a {
      background-color: transparent !important;
    }
  }

  .dropdown-menu-inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .se-modular.container {
    //padding: 0;
  }

  .se-masonry {
    margin-bottom: 20px;
  }

  .se-masonry.category-know {
    .txt-title {
      font-size: 24px;
    }
  }

  .se-masonry.category-know.size_460-220,
  .se-masonry.category-know.size_220-220 {
    .txt-title, .se-text {
      height: auto;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }

  p {
    line-height: 26px;
  }

  .sp-modular-header .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }

  div.select-state ul.dropdown-menu {
   // width: 120px;
  }

  .main .input-group {

    .dropdown-menu {
      max-height: 330px;
      overflow-y: auto;
    }

    div.input-group.select-city {
      width: 320px;
      label {
        display: block;
      }

      .dropdown-toggle {
        width: 320px;
      }

      .dropdown-menu {
        width: 320px;
      }
    }

    ul#city-groups-two {
      width: 330px;
    }
  }

  .group-2, .group-3, .group-4 {
    .btn-group, .dropdown-toggle {
      width: 90px;
    }
    .dropdown-toggle {
      padding: 0 0 0 10px;
    }
  }

  #research-contact, #vacancy-form {
    .select-state {
      width: 120px;
    }
    .select-city {
      width: 320px;
      .dropdown-toggle, .dropdown-menu {
        width: 320px;
      }
    }
  }

  .single .col-md-9 {

    position: relative;
    .our-process-txt {
      width: 260px;
    }
    .arrow-up {
      display: block;
      position: absolute;
      width: 61px;
      height: 59px;
      top: -50px;
      right: -30px;
      background: url(../img/beer.png) no-repeat 0 -1091px;
    }
  }
  #vacancy-col2 {
    input.dropdown-toggle#nv-city {
      width: 280px;
    }
  }


  .page, .trabalhos, .home {

    .category-tw, .category-know, .category-fb {
      .txt-title, .se-text {
        padding: 0 20px 20px 20px;
      }

      .txt-title {
        padding-bottom: 0;
      }
    }

    .se-masonry {
      .arrow-right {
        opacity: 1;
        margin-top: 10px;
      }
    }

    .post-item-content .excerpt-inner {
      max-height: 100%;
    }

    .size_220-220 {

      .se-item {
        .job-logo {
          width: 36px !important;
          height: 36px !important;
          border-width: 7px !important;
          clear: none
        }
        .cat-title {
          font-size: 14px !important;
          line-height: 15px !important;
        }
        .se-title .last-part {
          font-size: 24px;
          line-height: 26px;
          clear: none;
          margin-left: 55px
        }
      }
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 220px;
        height: 220px;
        h3 {
          width: 210px;
          span.part-0 {
            display: block;
          }
        }
      }
    }

    .size_220-460 {
      .se-item {
        .job-logo {
          width: 36px !important;
          height: 36px !important;
          border-width: 7px !important;
          clear: none;
        }
        .cat-title {
          font-size: 14px !important;
          line-height: 15px !important;
        }
        .se-title .last-part {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 220px;
        height: 460px;

        h3.post-item-title {
          width: 210px;

          span.part-0 {
            display: block;
          }
        }
      }
    }

    .size_460-460 {
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 460px;
        height: 460px;

        h3.post-item-title {
          width: 450px;
        }
      }
    }

    .size_460-220 {
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 460px;
        height: 220px;
        h3.post-item-title {
          width: 450px;
        }
      }
    }
  }

  .page-template-page-knowledge, .page-template-page-work {
    .size_220-460.quadratic {
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 220px;
        height: 220px;
        h3.post-item-title {
          width: 170px;
        }
      }
    }
  }

  #cases-inner.container, .se-modular.container {
    width: 730px;
    padding: 0;
  }

  article.post-item-wrapper.size_220-460 {
    .post-item-title .last-part {
      width: 100%;
      max-width: 150px;
    }
  }

  article.post-item-wrapper {
    margin-bottom: 20px
  }

  .page, .home {
    a.se-masonry.size_460-220, a.se-masonry.size_460-460 {
      div.se-item {
        h3.se-title {
          max-width: 430px;
        }
        h3.se-title span.cat-title, h3.se-title span.last-part {
          font-size: 24px;
          line-height: 26px;
          font-family: 'effra_mediumregular', 'sans-serif';
        }
        h3.se-title span.last-part {
          font-weight: bold;
        }
      }
    }

    a.se-masonry.size_220-220, a.se-masonry.size_220-460 {
      div.se-item {
        h3.se-title {
          //max-width: ;
        }
        h3.se-title span.last-part {
          margin-left: 56px;
        }
        h3.se-title span.cat-title, h3.se-title span.last-part {
          font-size: 16px !important;
          line-height: 18px !important;
        }
      }
    }
  }

  article.post-item-wrapper.size_460-220,
  article.post-item-wrapper.size_460-460 {
    h3.post-item-title span.cat-title {
      font-size: 24px;
      line-height: 26px;
    }
  }

  article.post-item-wrapper.size_220-460,
  article.post-item-wrapper.size_220-220 {
    h3.post-item-title span.cat-title {
      font-size: 17px;
      line-height: 19px;
    }
  }
}