@media (min-width: $screen-md-min) {

  html, body, .main {
    height: 100%;
  }

  .c320 {
    display: none;
  }

  #process-job-wrapper, .open-image {
    display: none;
  }

  .page-id-559, .page-id-561, .page-id-563, .page-id-565 {
    .top-menu {
      .custom-selected .dropdown-menu, .custom-selected .dropdown-menu:hover {
        display: block !important;
        height: 60px !important;
        padding: 5px 0;
        opacity: 1;
        border-bottom: 2px solid #3c484f;
      }
    }
  }

  .page-id-775 .article-outer,
  .page-id-774 .article-outer {
    border-bottom: none;
  }

  #service-main {
    span.indicator {
      display: none !important;
    }
  }

  .page-template {

    .entry-header.col-md-4 {
      width: 280px;
      padding: 0;
    }

    .entry-link {
      display: table-cell;
      height: 100px;
      margin-bottom: 0;
    }

    .entry-content {
      text-align: center;
    }

    .entry-content-inner, .entry-header-inner {
      height: 150px;
    }

    #se-modular-wrapper {
      margin-top: 70px;
    }

    .table-style {
      height: 50px;
    }

    .article-outer {
      article.entry-content {
        display: table;
      }

      .secondary-content {
        display: none;
      }

      .primary-content {
        margin-bottom: 0;
      }

      -webkit-background-size: cover !important;
      background-size: cover !important;
      &:hover {
        color: #fff;

        .bg-layer {
          background: rgba(80, 64, 53, 0.44);
        }

        .primary-content {
          display: none;
        }

        .secondary-content {
          display: block;
        }
      }

      .secondary-content {
        height: 150px;

        ul {
          padding: 15px;

          li {
            min-width: 180px;
            margin-right: 15px;
            float: left;
          }
        }
      }

      .entry-link {
        margin-bottom: 0;

        a {
          width: 140px;
        }
      }

      .right-arrow {
        display: inline-block;
        margin-left: 40px;
        width: 23px;
        height: 11px;
        background: url(../img/beer.png) no-repeat -73px -876px
      }

      .bg-layer {
        -webkit-transition: all linear 0.2s;
        -moz-transition: all linear 0.2s;
        -ms-transition: all linear 0.2s;
        -o-transition: all linear 0.2s;
        transition: all linear 0.2s;
      }

      .entry-content {
        display: table;
        p {
          float: left;
        }
      }
    }
  }

  body.page-id-559, body.page-id-563, body.page-id-561, body.page-id-565 {
    padding-top: 60px;
  }

  #cases-inner.container, .se-modular.container {
    width: 980px;
  }

  body.main {
    min-height: 100%;
  }

  .swiper-container {
    padding-bottom: 0;
  }

  .lightbox-specialty {
    .lg-content {
      width: 780px;
    }
  }

  .template-case {
    .entry-content iframe {
      width: 960px;
      height: 485px;
    }
    p {
      max-width: 940px;
    }
  }

  #toggle-menu {
    display: none !important;
  }

  #our-process-wrapper {
    display: block;
  }

  #vacancy-txt-inner {
    margin-right: 40px;
  }

  .post-txt {
    padding-right: 65px;
  }

  #categories-list {
    margin-top: 5px;

    ul.dropdown-menu {
      width: 230px;
    }
  }

  .col-sm-4.form-one {
    width: 230px;
  }

  .yellow-bg {
    #work {
      height: 100px;
      h1 {
        font-size: 2.5em;
        font-family: 'effra_mediumregular', sans-serif;
        line-height: 100px;
        margin: 0;
      }
    }
  }

  #our-process-wrapper {
    display: block;
  }

  .specialty-content {
    clear: none;
  }

  .office-info {
    margin: 80px 0 0 80px;
  }

  .dropdown-menu-inner {
    padding-left: 35px;
    padding-right: 0;
  }

  .nav > li > a {
    padding-left: 20px;
    padding-right: 20px
  }

  .page-id-775 #about, .page-id-774 #about {
    .col-md-3 {
      text-align: center;
      padding-bottom: 50px;
    }
  }

  #tablist-wrapper {
    .nav-tabs li a {
      .tablist-txt {
        display: inline-block;
      }
      height: 70px;
      line-height: 70px;
      padding: 0 30px 0 10px;

      span.tablist-icon {
        margin-left: 0;
      }
    }
  }

  #contact {
    .featured {
      h2 {
        font-size: 3.3em;
      }
      > span {
        font-size: 2.5em;
      }
    }

    .col-md-11 {
      margin: 0 auto 30px auto;
    }

    .phone-info p {
      margin-top: 0;
    }
  }

  .home {
    div.controls {
      margin-top: 0;
    }

    div.pagination {
      position: absolute;
      top: -50px
    }
  }

  .home #about, .page-id-775 #about, .page-id-774 #about {

    .col-md-3 {
      margin-top: 0;
      .post-image {
        float: none;
        margin-top: 70px;

        img {
          width: auto;
          height: auto;
        }
      }
      .about-txt {
        float: none;
        text-align: center;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        strong {
          display: block;
        }
      }
    }
  }

  .about-featured-wrapper .about-content-type {
    margin-right: 5px;

    a.to-video, a.stop-video {
      margin-left: 0;
    }
  }

  .about-featured-wrapper {
    height: 90%;

    .content-txt-inner {

      p {
        font-size: 18px;
      }
    }

    .content-txt {
      bottom: 100px;
    }

    h1.content-featured-title,
    .our-process-title {
      font-size: 2.5em;
    }
  }

  .our-specialties {

    h2, .specialty-txt {
      color: #353e48;
    }
    .col-md-12 {
      padding-bottom: 40px;
    }

    .specialty-txt {
      hr {
        padding: 0;
        margin: 20px 0 !important;
        border: 0;
      }
    }

    /*.our-specialty-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background: url(../img/our-specialty-icon.png) no-repeat;
    }

    .post-94 .our-specialty-icon {
      background-position: 0 0;
    }

    .post-100 .our-specialty-icon {
      background-position: 0 -94px;
    }

    .post-102 .our-specialty-icon {
      background-position: 0 -47px;
    }

    .post-104 .our-specialty-icon {
      background-position: -46px -94px;
    }

    .post-109 .our-specialty-icon {
      background-position: -46px 0;
    }

    .post-111 .our-specialty-icon {
      background-position: 0 -143px;
    }

    .post-115 .our-specialty-icon {
      background-position: -46px -47px;
    }

    .post-117 .our-specialty-icon {
      background-position: -46px -143px;
    }*/
  }

  .specialty-title {
    padding: 0;
    height: 60px;
    line-height: 40px;
    font-size: 1.83em;
    border: none !important;
    cursor: default
  }

  .our-process-featured-title, .specialty-featured-title {
    font-size: 2.5em;
  }


  .our-specialties .specialty-txt {
    display: block !important;
    padding-left: 50px;
    padding-top: 0;

    ul {
      max-width: 200px;
      padding: 0 15px 0px 13px;
      margin: 0;
    }
  }

  .custom-selected:hover {
    padding-bottom: 25px;
  }

  .our-specialties .container > .col-md-12 {
    border-bottom: none;
  }

  .banner {
    .custom-selected .dropdown-menu {
      position: fixed;
      display: block !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      top: 70px;
      height: 0;
      overflow-y: hidden;
      float: left;
      width: 100%;
      background: #26333b;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
      li {
        float: left;
        margin: 7px 50px 0 50px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #fff;
          display: block;
          width: 145px;
          text-align: left;
          padding: 0;
          line-height: 17px;
          &:hover, &:active, &:focus {
            text-decoration: none;
            color: #11b2e1;
          }

          span {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 15px;
            border: 6px solid;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
          }
        }
        &.menu-id-571 {
          span {
            border-color: #e69a32;
          }
        }

        &.menu-id-572 {
          span {
            border-color: #f4ce2f;
          }
        }

        &.menu-id-573 {
          a {
            width: 130px;
          }
          span {
            border-color: #a1c746;
          }
        }

        &.menu-id-574 {
          span {
            border-color: #11b2e1;
          }
        }

        &.active {
          a {
            color: #11b2e1;
          }
        }
      }
    }

    .custom-selected:hover .dropdown-menu {
      height: 60px;
    }
  }

  #about {
    .col-md-3 {
      width: 20%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #know-more {
    display: inline-block !important;
    position: absolute;
    left: 20px;
    top: -90px;
  }

  .phone-info.col-md-6 {
    float: right;
  }

  #contact {
    .address {
      padding: 0;
    }
  }

  #research {
    .group-1 {
      max-width: 460px;
    }

    .group-4 {
      .btn-group, .dropdown-toggle, .dropdown-menu {
        max-width: 450px;
      }
    }

    .group-5 {
      max-width: 450px;
    }
  }

  .services-inner {
    .page-title {
      line-height: 3.6vw;
      font-size: 3.6vw;
    }
  }

  #carousel {
    #home-slides {
      .slide {
        img.slide-content {
          max-width: 495px;
        }
      }
    }
    .inner-slide {
      float: none;
      width: 960px;
    }
    .post-txt {
      .post-txt-inner {
        max-width: 850px;
        margin: 0;
        p {
          max-width: 430px;
        }
      }
      h2 {
        line-height: 3.6vw;
        font-size: 3.6vw;
      }
    }
  }

  .related-posts-inner {
    width: 100%;
  }

  .specialty-content {
    margin-bottom: 20px
  }

  .our-specialties {
    padding-top: 40px;

    .indicator {
      display: none !important;
    }
  }

  .our-specialties .specialty-txt ul + ul {
    float: left;
  }

  .sp-applied-wrapper {
    width: 190px
  }

  .sp-applied {
    text-align: center;
    height: 135px;
    margin-left: -17px;
    border: none;
    &:last-child {
      border: none;
    }
  }

  .sp-icon, .sp-title {
    display: block;
    clear: both;
  }

  .sp-icon {
    margin: 25px auto 0 auto;
    width: 50px;
    height: 50px;
    float: none;
  }

  .sp-analytics .sp-icon {
    background-position: 0 0;
  }

  .sp-business .sp-icon {
    background-position: -71px 0;
  }

  .sp-buzz .sp-icon {
    background-position: -143px 0;
  }

  .sp-data .sp-icon {
    background-position: -219px 0;
  }

  .sp-insights .sp-icon {
    background-position: -297px 0;
  }

  .sp-digital .sp-icon {
    background-position: -447px 0;
  }

  .sp-user .sp-icon {
    background-position: -370px 0;
  }

  .sp-development .sp-icon {
    background-position: -522px 0;
  }

  h3.sp-applied-title {
    width: auto;
    max-width: 940px;
    font-family: 'effra_mediumregular', sans-serif;
    font-size: 20px;
  }

  .sp-title {
    line-height: 16px;
    margin: 10px auto 0 auto;
    font-size: 16px;
    width: 140px;
    height: auto;
  }

  .main-deliverables {
    padding-right: 5px;
  }

  .sp-applied:after {
    content: '';
  }

  .sp-specialties .container {
    padding: 0;
  }

  .page .sp-specialties-inner {
    border-bottom: none;
  }

  body.page-id-559, body.page-id-563, body.page-id-561, body.page-id-565 {
    .sp-applied:after {
      content: '';
    }
  }

  .main-deliverables {
    display: block;

    h4 {
      margin-left: 0;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0 0 0 12px;
    }
  }

  // services detail pages
  .single-page-inner {

    .see-all {
      display: block;
      font-size: 18px;
      font-family: 'effraregular', sans-serif;
      color: #11b2e1;
      margin-top: 10px;
      text-transform: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .sp-icon {
      width: 80px;
      height: 80px;
    }

    h3.sp-applied-title {
      margin-top: 65px;
    }

    .sp-applied-title {
      font-size: 30px;
    }

    .sp-analytics .sp-icon {
      background-position: 0 -109px;
    }

    .sp-business .sp-icon {
      background-position: -217px -109px;
    }

    .sp-buzz .sp-icon {
      background-position: -327px -109px;
    }

    .sp-data .sp-icon {
      background-position: -655px -109px;
    }

    .sp-insights .sp-icon {
      background-position: -765px -109px;
    }

    .sp-digital .sp-icon {
      background-position: -108px -109px;
    }

    .sp-user .sp-icon {
      background-position: -437px -109px;
    }

    .sp-development .sp-icon {
      background-position: -546px -109px;
    }
  }

  #service-main {
    .entry-header-inner, .entry-header {
      height: 150px;
    }
  }

  #about {
    .about-detail-wrapper {
      float: none;
      max-width: none;
    }

    .post-image {
      margin-bottom: 40px;
      width: 79px;
      height: 79px;
    }

    .post-29 {
      .post-image {
        background-position: 0 0;
      }
    }

    .post-32 {
      .post-image {
        background-position: -103px -1px;
      }
    }

    .post-35 {
      .post-image {
        background-position: -210px 5px;
      }
    }

    .post-38 {
      .post-image {
        background-position: -308px 3px;
      }
    }

    .post-41 {
      .post-image {
        background-position: -415px 0;
      }
    }
  }


  .lightbox-specialty {
    background: #333;
    background: rgba(0, 0, 0, 0.9);

    .point-top {
      display: block;
      position: absolute;
      width: 2px;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 100%;
      margin-left: -1px;
    }

    .loading {
      height: 40px;
      width: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px;
      background-image: none;
    }

    @keyframes loadingScale {
      0% {
        opacity: 0.1;
      }
      5% {
        opacity: 0.15;
      }
      10% {
        opacity: 0.2;
      }
      15% {
        opacity: 0.25;
      }

      20% {
        opacity: 0.3;
      }

      25% {
        opacity: 0.35;
      }

      30% {
        opacity: 0.4;
      }

      35% {
        opacity: 0.45;
      }

      40% {
        opacity: 0.5;
      }

      45% {
        opacity: 0.55;
      }

      50% {
        opacity: 0.6;
      }
      55% {
        opacity: 0.65;
      }

      60% {
        opacity: 0.7;
      }

      65% {
        opacity: 0.75;
      }

      70% {
        opacity: 0.8;
      }

      75% {
        opacity: 0.85;
      }

      80% {
        opacity: 0.9;
      }

      85% {
        opacity: 0.95;
      }

      90% {
        opacity: 1;
      }
    }

    .loading {
      animation: loadingScale 1s linear infinite;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: alternate;
      -moz-animation-direction: alternate;
      -o-animation-direction: alternate;
      animation-direction: alternate;
    }

    .lg-content {
      opacity: 0;
      position: absolute;
      max-width: 780px;
      background: #fff;
    }

    .lg-content.to-left {
      overflow: hidden;
    }

    .lg-content-inner {
      -webkit-transition: all ease-in-out 0.5s;
      -moz-transition: all ease-in-out 0.5s;
      -ms-transition: all ease-in-out 0.5s;
      -o-transition: all ease-in-out 0.5s;
      transition: all ease-in-out 0.5s;
      display: table;
      min-width: 780px;
      height: 480px;
    }

    .lg-content-inner.to-left {
      margin-left: -320px;
    }

    .lg-content-inner.to-right {
      margin-left: 0;
    }

    .lg-back {
      color: #11b2e1;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      padding-left: 10px;
      position: absolute;
      top: 20px;
      left: 20px;
      display: none;
      background: url(../img/beer.png) no-repeat -44px -185px;
    }

    .lg-content-outer {
      padding: 45px 0;
      overflow: hidden;
    }

    .left-box-outer {
      border-right: 1px solid #c2c5c8;
      padding-right: 30px;
      position: relative;
      .m-left {
        right: -1px;
        top: 50%;
        margin-left: -11px;
        background: url(../img/m-left.png) no-repeat 0 0;
      }
    }

    span.m-left {
      display: block;
      margin: -5px 0 0 0 !important;
      width: 11px;
      height: 21px;
      position: absolute;
    }

    .left-box-wrapper, .middle-box-wrapper, .right-box-wrapper, .left-box-outer {
      display: table-cell;
      position: relative;
      vertical-align: middle;
    }

    /*.middle-box-wrapper {
      vertical-align: top;
    }*/

    .left-box-wrapper, .right-box-wrapper {
      vertical-align: middle;
    }

    .deliverable-detail {
      width: 355px;
      opacity: 0;
    }

    .right-box-wrapper {
      width: 355px;
      padding-left: 10px;
      .detail-content {
        width: 350px;
      }
      .detail-title {
        width: 340px;
      }
    }

    .middle-box-wrapper {
      min-width: 280px !important;
      max-width: 295px !important;
    }

    .right-box, .right-box-content {
      width: 355px;
    }

    .left-box {
      width: 380px;
      height: 380px;
      position: relative;
      margin: 0 0 0 30px;
      border: 1px solid #afd6e4;
      -webkit-border-radius: 380px;
      -moz-border-radius: 380px;
      border-radius: 380px;
    }

    .left-content {
      border: 1px solid #afd6e4;
      width: 230px;
      height: 230px;
      -webkit-border-radius: 230px;
      -moz-border-radius: 230px;
      border-radius: 230px;
      position: absolute;
      top: 50%;
      margin-top: -115px;
      left: 50%;
      margin-left: -100px;
      padding: 35px 10px 20px 10px;
      text-align: center;
      overflow: hidden;
    }

    h2.left-content-title {
      display: block;
      width: 170px;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 15px;
      font-family: 'effra_mediumregular', sans-serif;
      margin: 0 auto;

      span {
        display: block;
        width: 80px;
        margin: 5px auto;
        border-bottom: 2px solid #afd6e4;
      }
    }

    .left-excerpt {
      font-size: 11px;
    }

    .icon-bg-large {
      opacity: 0;
      -webkit-transition: opacity linear 0.3s;
      -moz-transition: opacity linear 0.3s;
      -ms-transition: opacity linear 0.3s;
      -o-transition: opacity linear 0.3s;
      transition: opacity linear 0.3s;
    }

    .icon-circle, .icon-bg-large {
      position: absolute;
      width: 76px;
      height: 76px;
      display: block;
      -webkit-border-radius: 76px;
      -moz-border-radius: 76px;
      border-radius: 76px;
      &.active .icon-bg-large {
        opacity: 1;
        background: url(../img/sp-icons.png) no-repeat -500px;
      }

      .icon-bg {
        display: block;
        left: 50%;
        top: 50%;
        cursor: pointer;
        position: absolute;
        background: url(../img/sp-icons.png) no-repeat;
      }
    }

    .icon-circle.post-102 {
      left: 50%;
      top: 0;
      margin-left: -38px;
      &.active {
        .icon-bg-large {
          background-position: -103px 0;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 28px;
        height: 28px;
        margin-left: -14px;
        margin-top: -14px;
        background-position: -7px -10px;
        &:hover {
          background-position: -55px -10px;
        }
      }
    }

    .icon-circle.post-100 {
      top: 45px;
      left: 260px;
      &.active {
        .icon-bg-large {
          background-position: -202px 0;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 22px;
        height: 25px;
        margin-top: -12px;
        margin-left: -11px;
        background-position: -9px -95px;
        &:hover {
          background-position: -55px -95px;
        }
      }
    }

    .icon-circle.post-94 {
      left: 304px;
      top: 153px;
      &.active {
        .icon-bg-large {
          background-position: -103px -90px;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 22px;
        height: 22px;
        margin-top: -11px;
        margin-left: -11px;
        background-position: -7px -314px;
        &:hover {
          background-position: -55px -314px;
        }
      }
    }

    .icon-circle.post-104 {
      left: 261px;
      top: 255px;
      &.active {
        .icon-bg-large {
          background-position: -202px -90px;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 27px;
        height: 27px;
        margin-top: -13.5px;
        margin-left: -13.5px;
        background-position: -7px -270px;
        &:hover {
          background-position: -55px -270px;
        }
      }
    }

    .icon-circle.post-109 {
      left: 155px;
      top: 304px;
      &.active {
        .icon-bg-large {
          background-position: -103px -181px;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 22px;
        height: 28px;
        margin-top: -14px;
        margin-left: -11px;
        background-position: -8px -224px;
        &:hover {
          background-position: -55px -224px;
        }
      }
    }

    .icon-circle.post-111 {
      left: 40px;
      top: 257px;
      &.active {
        .icon-bg-large {
          background-position: -202px -181px;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 27px;
        height: 22px;
        margin-left: -13.5px;
        margin-top: -11px;
        background-position: -5px -182px;
        &:hover {
          background-position: -55px -182px;
        }
      }
    }

    .icon-circle.post-115 {
      left: 0;
      top: 151px;
      &.active {
        .icon-bg-large {
          background-position: -103px -281px;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 25px;
        height: 24px;
        margin-left: -12.5px;
        margin-top: -12px;
        background-position: -7px -135px;
        &:hover {
          background-position: -55px -135px;
        }
      }
    }

    .icon-circle.post-117 {
      left: 44px;
      top: 45px;
      &.active {
        .icon-bg-large {
          background-position: -202px -281px;
        }
        .icon-bg {
          display: none
        }
      }
      .icon-bg {
        width: 17px;
        height: 28px;
        margin-left: -8px;
        margin-top: -14px;
        background-position: -11px -51px;
        &:hover {
          background-position: -55px -51px;
        }
      }
    }

    .tooltip {
      position: absolute;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      min-width: 115px;
      padding-bottom: 6px;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
      background: url(../img/tooltip.png) no-repeat center  bottom;
    }

    .tooltip-inner {
      width: 100%;
      padding: 5px 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #2f3e48;
      display: inline-block;
    }

    .icon-bg:hover + .tooltip {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .detail-title {
      font-size: 30px;
      font-family: 'effra_mediumregular', sans-serif;
    }

    .midle-box {
      margin: 0 0 0 30px;

      ul {
        margin: 0 0 -3px 0;
        padding: 0 0 0 13px;
        max-width: 240px;

        li {
          line-height: 17px;
          position: relative;
          padding: 5px 20px 5px 0;
          &.active {
            span {
              right: -1px;
              height: 21px;
              width: 11px;
              top: 50%;
              margin-top: -10px !important;
              background: url(../img/m-left.png) no-repeat 0 0;
              opacity: 0
            }
          }
        }
        a, a:active {
          outline: none;
          text-decoration: none;
        }
        li:hover, li.active {
          color: #343d48;
          a {
            color: #343d48;
            text-decoration: none;
          }
        }

        li:last-child {
          margin-bottom: 0;
        }
      }
    }

    .detail-content {
      font-size: 18px;
      line-height: 25px;
    }

    .middle-post-content {
      h2 {
        font-family: 'effra_mediumregular', sans-serif;
        font-size: 18px;
        margin-top: 5px;
        text-transform: uppercase;
        span.lg-post-title-h2 {
          display: block;
          font-size: 18px;
          height: 40px;
          max-width: 285px;
          line-height: 18px;
          margin: 0 0 5px 0;
        }
        span.cat-name {
          margin: 0 0 15px 0;
        }
      }

      span {
        font-size: 12px;
        display: block;
        margin: 25px 0 15px 0
      }
    }
  }

  .group-2 {
    width: 480px;
    margin-right: 0;
  }

  .group-3 {
    width: 300px;
  }

  .group-3.pull-left {
    float: left !important;
  }

  .se-modular-header-title {
    font-size: 24px;
  }

  .sp-modular-header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page .sp-specialties-inner {
    margin-bottom: 0;
  }

  .single-post .sp-specialties-inner {
    border-bottom: 0;
  }

  .page-template-page-knowledge, .page-template-page-work {
    .size_220-460.quadratic {
      .post-item-content, .se-masonry, .se-item, .se-item-inner {
        width: 220px;
        height: 460px;
        h3.post-item-title {
          width: 310px;
        }
      }
    }
  }

  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
          }
  }

  .template-case-full-image-wrapper {
    height: 100%;
    .template-full-image-outer {
      -webkit-background-size: cover !important;
      background-size: cover !important;
      height: inherit;
    }
    .template-full-image-inner {
      height: inherit;
    }
  }
}