/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Base
   ========================================================================== */
html, body {
   color: #353e48;
}

@font-face {
   font-family: 'effra_lightregular';
   src: url('../fonts/effra_light-webfont.eot');
   src: url('../fonts/effra_light-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/effra_light-webfont.woff') format('woff'),
   url('../fonts/effra_light-webfont.ttf') format('truetype'),
   url('../fonts/effra_light-webfont.svg#effra_lightregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'effra_mediumitalic';
   src: url('../fonts/effra_medium_italic-webfont.eot');
   src: url('../fonts/effra_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/effra_medium_italic-webfont.woff') format('woff'),
   url('../fonts/effra_medium_italic-webfont.ttf') format('truetype'),
   url('../fonts/effra_medium_italic-webfont.svg#effra_mediumitalic') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'effra_mediumregular';
   src: url('../fonts/effra_medium-webfont.eot');
   src: url('../fonts/effra_medium-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/effra_medium-webfont.woff') format('woff'),
   url('../fonts/effra_medium-webfont.ttf') format('truetype'),
   url('../fonts/effra_medium-webfont.svg#effra_mediumregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'effraregular';
   src: url('../fonts/effra-webfont.eot');
   src: url('../fonts/effra-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/effra-webfont.woff') format('woff'),
   url('../fonts/effra-webfont.ttf') format('truetype'),
   url('../fonts/effra-webfont.svg#effraregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

body {
  font-family: 'effraregular', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.btn.btn-info, a.copy-bottom.btn.btn-info  {
   -webkit-border-radius: 4px !important;
   -moz-border-radius: 4px !important;
   border-radius: 4px !important;
   border: none;
   &:hover, &:focus, &:active {
      background: #3fc9f1 !important;
      outline: none;
   }
   &:focus, &:active {
      -webkit-box-shadow: inset 0 3px 0 #139bdc !important;
      -moz-box-shadow: inset 0 3px 0 #139bdc !important;
      box-shadow: inset 0 3px 0 #139bdc !important;
      padding-top: 3px;
   }
}

.nav a, .box a,
.box a h3, #contact a,
a.router-trace, .office,
.job-logo {
   -webkit-transition: all linear 0.2s;
   -moz-transition: all linear 0.2s;
   -ms-transition: all linear 0.2s;
   -o-transition: all linear 0.2s;
   transition: all linear 0.2s;
}

/* ==========================================================================
   Header
   ========================================================================== */
.banner {
   .navbar-nav li a, .dropdown-menu-inner li a {
      font-size: 1.3em;
      font-weight: normal;
      outline: none;
   }

   #toggle-menu, .language-selection {
      margin-top: 25px;
   }

   .language-selection {
      margin-top: 16px;
   }

   .language-selection a {
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
   }

   #toggle-menu {
      margin-left: 10px;
   }

   #toggle-menu, .navbar-toggle {
      background: url(../img/beer.png) no-repeat;
   }

   .navbar-toggle {
      width: 20px;
      height: 20px;
      margin-top: 25px;
      border-radius: 0;
      border: none;
      background-position: -30px 0;
      &:hover {
         background-color: transparent;
      }
      &:focus {
         background-color: transparent;
      }
      span.icon-bar {
         background-color: transparent;
      }
   }

   .navbar-toggle.opened {
      background-position: 0 0;
   }

   #toggle-menu.visible {
      width: 20px;
      height: 13px;
      margin-top: 30px;
      background-position: 0 0;
   }

   #toggle-menu.not-visible {
      width: 20px;
      height: 17px;
      margin-top: 25px;
      background-position: -30px 0;
   }

   .dropdown-menu {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      li {
         list-style: none;
         a {
            color: #fff;
            &:hover {
               text-decoration: none;
            }
         }
      }
   }

   .dropdown-menu-inner {
      max-width: 960px;
      margin: 0 auto;
   }

   .language-selection {
      position: relative;
      a, .active-lang {
         cursor: pointer;
         font-size: 13px;
         color: #fff;
         text-transform: uppercase;
         font-weight: bold;
         &:hover {
            text-decoration: none;
         }
      }

     .v-arrow {
       display: inline-block;
       width: 6px;
       height: 10px;
       margin: 0 0 0 7px;
       background: url(../img/beer.png) no-repeat 0 -27px;
     }

     .langs, a {
       -webkit-transition: all linear 0.2s;
       -moz-transition: all linear 0.2s;
       -ms-transition: all linear 0.2s;
       -o-transition: all linear 0.2s;
       transition: all linear 0.2s;
     }

     .langs {
       position: absolute;
       height: 0;
       opacity: 0;
       overflow: hidden;
       z-index: 1100;
       background: #26333b;
       left: -5px;
       padding-top: 5px;
       a {
         display: block;
         padding: 5px 35px 3px 10px;

         &:hover {
           color: #11b2e1
         }
       }
     }
     &:hover {
       .langs {
         display: block;
         opacity: 1;
         float: left;
         height: auto;
         padding-bottom: 5px;
       }
     }
   }

   .top-menu li a.active {
      color: $navbar-default-link-active-color
   }

   .not-visible {
      display: none;
   }
}
/* ==========================================================================
   Content
   ========================================================================== */

.content {
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.home #about {
   padding: 50px 0 70px 0;
}

.home, .page-id-775, .page-id-774 {
   .specialty-featured-txt, .specialty-txt,
   .our-process-featured-txt, .our-process-txt {
      font-size: 1.3em;
   }
}
#about, #services, #cases,
#footer, #our-process-wrapper,
#our-specialties-wrapper, #know-wrapper {
   position: relative;
   float: left;
   width: 100%;

}

#about {
   .featured {
      font-size: 1.3em;

      h2 {
         font-weight: 500;
         padding-bottom: 5px;
      }
   }
   background: #2f3e48;
   color: #fff;

   .featured.v2 {
      margin-bottom: 80px
   }

   .col-md-11 {
      margin: 0 auto;
      float: none;
   }

   .about-txt {
      font-size: 1.2em;
   }

   .about-txt.v2 {
      text-align: left;
      padding-left: 60px;
      background: url(../img/beer.png) no-repeat 0 -203px;
      margin-bottom: 40px;
   }

   .post-image {
      background: url(../img/about-posts-img.png);
      margin-left: auto;
      margin-right: auto;
   }
}

.page-id-775 #about, .page-id-774 #about {
   .featured {
      padding-top: 25px;
      h2 {
         font-family: 'effra_mediumregular', sans-serif;
         font-size: 1.8em;
         padding-bottom: 20px;
      }
   }
}

#contact {
   position: relative;
   font-family: 'effraregular', sans-serif;

   .featured {
      h2 {
         font-weight: 500;
         color: #2f3e48;
         font-family: 'effra_mediumregular', sans-serif;
      }
      > span {
         font-family: 'effra_lightregular', sans-serif;
      }
   }

   .address {
      margin-top: 50px;
   }

   .office-address {
      font-size: 1.3em;
      font-weight: 500;
   }

   .office-local {
      font-size: 1.2em;
   }

   .office-address, .office-local {
      margin: 0;
   }

   .address-outer {
      display: table;
      margin: 0 auto;
   }

   #address-one, #address-two, #address-tree {
      margin-bottom: 10px;
      overflow: hidden;
   }

   a.router-trace {
      display: none;
      position: absolute;
      width: 170px;
      font-size: 1.3em;
      left: 50%;
      margin-left: -85px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px;
   }

   .address-inner {
      background: url(../img/address.png) no-repeat;
      color: #fff;
      width: 298px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
   }

   .office {
      position: relative;
      vertical-align: middle;
      color: #fff;
      outline: none;

      h2 {
         text-transform: uppercase;
      }
   }

   h2 {
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 25px;
      position: relative;

      span {
         display: inline-block;
         position: relative;
         line-height: 1px;
         background: url(../img/beer.png) no-repeat;
      }
   }

   .address-inner:hover > a.router-trace {
      display: block;
   }

   #address-one .address-inner {
      background-position: 0 0;
   }

   #address-two .address-inner{
      background-position: -320px 0;
   }

   #address-tree .address-inner{
      background-position: -640px 0;
   }

   text-align: center;

   .col-md-11, .col-md-10, .col-md-7 {
      float: none;
   }

   .col-md-10, .col-md-7 {
      margin: 0 auto;
      text-align: center;
   }

   .email-info a span, .phone-info p span {
      display: inline-block;
      position: relative;
      margin-right: 15px;
      top: 2px;
      line-height: 1px;
      background: url(../img/beer.png) no-repeat;
   }

   .email-info a {
      padding-top: 0;
      padding-bottom: 0;
      height: 50px;
      line-height: 50px;
      font-size: 1.3em;
      text-transform: uppercase;
      font-family: 'effra_mediumregular', sans-serif;
      display: block;

      span {
         width: 20px;
         height: 16px;
         background-position:  0 -128px;
      }
   }

   .phone-info p {
      font-size: 1.7em;
      height: 50px;
      line-height: 50px;
      color: #2f3e48;

      span {
         width: 16px;
         height: 18px;
         background-position: -34px -128px;
      }
   }
}

.bg-line {
   position: absolute;
   height: 100px;
   bottom: 0;
   width: 100%;
   z-index: -1;
   background: #11b2e1;
}

.home, #division-bell {
   position: relative;
   padding: 30px 0px 40px;

   hr {
      border: 1px solid #eeeeee;
   }

   .g-title {
      width: 145px;
      height: 31px;
      position: absolute;
      left: 50%;
      margin-left: -73px;
      top: 32px;
      background: #fff;

      span {
         display: block;
         margin: 0 auto;
         width: 40px;
         height: 31px;
         background: url(../img/beer.png) no-repeat 0 -84px;
      }
   }
}

.home, .page-template, .single-post {
   #know-more, .page-more {
     color: #2f3e48;
     font-size: 14px;
     width: 52px;
     height: 52px;
     line-height: 23px;
     padding-left: 30px;
     font-weight: 500;
     -webkit-border-radius: 52px;
     -moz-border-radius: 52px;
     border-radius: 52px;
     background: #2f3e48;
     -webkit-transition: all linear 0.2s;
     -moz-transition: all linear 0.2s;
     -ms-transition: all linear 0.2s;
     -o-transition: all linear 0.2s;
     transition: all linear 0.2s;

     #know-more-inner {
       display: inline-block;
       position: absolute;
       width: 52px;
       height: 52px;
       left: 0;
       -webkit-border-radius: 52px;
       -moz-border-radius: 52px;
       border-radius: 52px;
       background: url(../img/beer.png) no-repeat 1px -608px;
     }
   }

   #know-more:hover, .page-more:hover {
      background: #11b2e1;
      //background: #0e8baf;
      #know-more-inner {
        background: url(../img/beer.png) no-repeat -37px -609px;
      }
   }
}

.home {
   overflow-x: hidden;
   .controls {
      position: relative;
   }

   div.pagination {
      text-align: center;
      padding: 10px;
      width: 100%;
      display: block;
   }

   div.pagination span.swiper-pagination-switch {
      display: inline-block;
      position: relative;
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: -24px 3px 0 3px;
      border-radius: 17px;
      box-shadow: none;
      opacity: 1;
      cursor: pointer;
      text-align: center;
      background: url(../img/beer.png) no-repeat -75px -777px;
   }

   .pagination span.swiper-pagination-switch.active {
      background-position:  -27px -226px;
   }

   .pagination span.swiper-pagination-switch canvas {
      display: none;
      position: absolute;
      top: 0;
      left: -1px;
   }

   .pagination span.swiper-pagination-switch.active canvas {
      display: block
   }

   #know-more {
      outline: none;
   }

   #about, #services, #cases {
      h2, h3 {
         font-size: 30px;
      }
   }

   #carousel, #about, #services, #cases {
      font-family: 'effraregular', sans-serif;
      h2, h3 {
         font-family: 'effra_mediumregular', sans-serif;
      }
   }

   a, a:hover, a:active, a:focus {
      text-decoration: none;
   }

   #carousel {
      background: #fff;
      height: 100%;
      margin: 0 auto;
      width: 100%;
      .inner-slide {
         height: inherit;
         margin: 0 auto;
      }

      h2 {
         text-transform: uppercase;
      }
   }

   #services {
      background: #fff;
      color: #2f3e48;

      .featured {
         font-size: 1.3em;

         h2 {
            font-weight: 500;
         }
      }

      .col-md-11 {
         margin: 0 auto 40px 0;
         float: none;
      }

      .service-image {
         margin-left: auto;
         margin-right: auto;
      }

      a {

         h3 {
            font-size: 20px;
            text-transform: uppercase;
            color: #2f3e48;
            font-size: 1.5em;
            width: 150px;
         }
      }

      .box a {
         display: block;
         border: 1px solid transparent;
         outline: none;
         &:hover {
            h3 {
               color: #11b2e1;
            }
         }
      }

      .h-arrow {
         display: block;
      }
   }
}

.about-featured-wrapper, .featured-image {
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.about-featured-wrapper {
   iframe {
      opacity: 0;
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
   }
   .about-featured {
      height: 100%;
      position: relative;
      background: url(../img/layer.png) repeat;

      iframe {
         display: none !important;
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
      }
   }

   .content-txt {
      color: #fff;
      position: absolute;
      width: auto !important;
   }

   .content-txt-inner {
      max-width: 420px;
   }

   h1.content-featured-title {
      font-family: 'effra_mediumregular', sans-serif;
      text-transform: uppercase;
   }

   .about-content-type {
      margin-top: 20px;
      position: relative;
      a {
         display: block;
         float: left;
         width: 50px;
         height: 50px;
         outline: none;
         background: url(../img/about-content-type.png) no-repeat;
      }

      a.to-txt {
         background-position: -2px -1px;
         margin-right: 5px;
      }

      a.to-video {
         background-position: 0 0;
         margin-left: 5px
      }

      a.stop-video {
         display: none;
         background-position: 0 -51px;
      }
   }
}

.our-process {
   padding-top: 40px;
   color: #353e48;

   .our-process-featured-title {
      margin-bottom: 15px;
      color: #353e48;
   }

   .table-style {
      display: table;
   }

   .table-cell-style {
      display: table-cell;
      .col-md-7 {
         //padding-top: 30px;
      }
   }

   .table-cell-style.single {
      vertical-align: bottom;
      .left-column {
         text-align: right;
         float: left;
      }
      .col-md-9 {
         width: 260px;
      }
   }

   .table-style.first {
      width: 100%;
      background: url(../img/info-grafico.png) no-repeat 35% 80%;
   }

   .table-row-style {
      display: table-row;
   }
}

.our-process h2, .our-specialties h2 {
   font-family: 'effra_mediumregular', sans-serif;
}

.our-process-title, .specialty-title {
   text-transform: uppercase;
}

.our-process-title {
   color: #a1c746;
   font-size: 20px;
   margin-top: 25px;
   margin-bottom: 5px;
}

.c320 h2 {
   font-family: 'effra_mediumregular', sans-serif;
}

.sp-links ul li, .specialty-txt ul li {
   color: #11b2e1;
   font-size: 14px;

   a {
      font-family: 'effraregular', sans-serif;
      color: #11b2e1;
      &:hover {
         text-decoration: underline;
      }
   }
}

#footer-inner {
   background: #11b2e1;
   font-size: 1.2em;
   color: #fff;


   .social-networks {
      list-style: none;

      li {
         float: left;

         a {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 12px;
            background: url(../img/social-networks.png);
         }

         a#rodape_twitter {
            background-position: 0 0;
         }

         a#rodape_facebook {
            background-position: -32px 0;
         }

         a#rodape_linkedin {
            background-position: -66px 0;
         }

         a#rodape_instagram {
            background-position: -98px 0;
         }
      }
   }
}

.gallery-row { padding: 15px 0; }
.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

#know-more {
   display: none !important;
}

.yellow-bg {
   color: #010101;
   background: #ffce00;
   padding-top: 70px
}

#contact-form-header {
   h1 {
      margin: 0;
   }
}

#tablist-wrapper {
   .tablist-control {
      background: #eaebec;
   }
   .nav-tabs li a {
      color: #2f3e48;
      font-family: 'effraregular', sans-serif;
      font-size: 1.5em;
      outline: none;

      span.tablist-icon {
         background: url(../img/contact-tab.png) no-repeat;
      }
   }
}

.input-group {
   position: relative;
}

#commercial {
   margin-top: 18px;

   label {
      display: block;
   }
}

#others {
   margin-top: 18px;
}

#work-with-us {
   position: relative;
   > .loading {
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -16px
   }
}


.loading {
   display: block;
   position: absolute;
   z-index: 9999;
   top: 10px;
   right: 10px;
   width: 32px;
   height: 32px;
   background: url(../img/loading.gif) no-repeat;
}

.office-info {
   a {
      color: #2f3e48;
      outline: none;
      &:hover, &:active, &:focus {
         text-decoration: none;
      }
   }
   h3 {
      font-family: 'effra_mediumregular', sans-serif;
      font-size: 1.5em;
      line-height: 26px;
      max-width: 300px !important;

      .phone-icon, .email-icon {
         background: url(../img/beer.png) no-repeat;
         display: inline-block;
         float: left;
         padding-right: 37px;
         margin-top: 5px;
      }

      .phone-icon {
         width: 16px;
         height: 18px;
         background-position: -18px -265px;
      }

      .email-icon {
         width: 20px;
         height: 14px;
         background-position: -16px -300px;
      }

      .phone-txt, .email-txt {
         display: block;
         font-family: 'effraregular', sans-serif;
         font-size: 20px;
         font-weight: normal;
         padding-left: 37px;
      }
   }
}

.contato .address {
   margin-top: 20px !important;
}

.address-title {
   margin-left: 0 !important;
   h2 {
      margin-bottom: -15px !important;
   }
}

#others-contacts h3 {
   font-size: 18px;
}

.birth-field {
   margin-right: 20px;
}

.main {
   position: relative;
   .input-group  {
      width: 100%;
      position: relative;
      padding-bottom: 18px;

      textarea {
         height: 120px;
         resize: none;
      }

      input, label, textarea {
         font-size: 1.3em;
         color: #2f3e48;
         font-weight: normal;
         box-shadow: none !important;
      }

      input[type="text"],
      input[type="phone"],
      input[type="email"],
      input[type="submit"] {
         height: 50px;
      }

      input[type="text"],
      input[type="phone"],
      input[type="email"], textarea {
         border: 1px solid #e2e8ee;
         display: block;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px;
         box-shadow: none !important;
         color: #000;
         line-height: 30px !important;
         &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            border: 1px solid #11b2e1;
         }
      }

      input[type="text"].error,
      input[type="button"].error,
      input[type="phone"].error,
      input[type="email"].error, textarea.error {
         border: 1px solid #f95056 !important;
      }

      label.error {
         color: #f95056;
         position: absolute;
         margin-bottom: 0;
         font-size: 1em;
         display: block;
         bottom: 0;
      }

      input[type="submit"] {
         font-family: 'effra_mediumregular', sans-serif;
         font-size: 1.3em;
         font-weight: bold;
         text-transform: uppercase;
         color: #ffffff;
      }
   }

   .dropdown-toggle {
      background: #fff url(../img/beer.png) no-repeat right -330px !important;
      //padding-right: 27px !important;
      overflow: hidden;
   }
   .dropdown-menu > li > label {
      padding-left: 10px;
   }

   .dropdown-toggle {
      font-size: 1.3em;
      height: 50px;
      line-height: 50px;
      border: 1px solid #E2E8EE;
      background: #fff;
      box-shadow: none;
      position: relative;
      text-align: left;
      padding: 0 0 0 10px;
   }

   .group-2, .group-3, .group-4 {
      .btn-group {
         float: left;

         + label {
            display: block;
            float: left;
            height: 50px;
            line-height: 50px;
            max-width: 220px;
            margin-left: 10px;
         }
         .btn {
            text-align: center;
            padding-left: 0;
         }
      }
   }

   .dropdown-toggle.type-bottom {
      color: #000;
      font-size: 1.3em;
      padding-top: 0;
      text-align: left;
      //width: 220px;
      height: 47px;
      line-height: 47px;
      box-shadow: none !important;
      border: 2px solid #ebc31a !important;
      background: #f9df71 url(../img/beer.png) no-repeat !important;
   }

   .group-4 {
      .btn-group, .dropdown-toggle, .dropdown-menu {
         width: 100%;
      }
   }


   #re-phone, #nv-phone {
      width: 150px;
   }

   .interest-area {
      width: 100%;
      input, ul.dropdown-menu {
         width: 100%;
      }
   }

   label[for="re-phone"], label[for="nv-phone"], label[for="re-education"] {
      display: block;
   }

   .linkedin {
      input {
         padding-left: 40px;
         background: #fff url(../img/beer.png) no-repeat left -535px;
      }
   }

   input#nv-upload {
      visibility: hidden;
      height: 1px;
   }

   label[for="nv-upload"] {
      height: 50px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 15px;
      width: 100%;
      border: 1px solid #E2E8EE;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding-left: 15px;
      color: #11b2e1;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      background: #fff;
   }

   .file-upload {
      span {
         color: #2f3e48;
         font-size: 14px;
         font-family: 'effraregular', sans-serif;
         font-style: italic;
         display: block;
      }
   }

   .vacancy-submit,
   .no-vacancy-submit {
      width: 100%;
   }

   #no-vacancy-form, #vacancy-form {
      label.error {
         text-indent: -9999px;
      }
   }

   #nv-upload.error + label#nv-upload-error.error {
      border: 1px solid #F95056;
      height: 50px;
      width: 100%;
      max-width: 470px !important;
      top: 0;
      line-height: 10px;
      font-size: 0;
      padding: 0;
      background: transparent !important;
   }

   #no-vacancy-form #nv-upload {
      max-width: 470px;
   }

   #vacancy-form #nv-upload {
      max-width: 420px;
   }

   #nv-upload.valid + label#nv-upload-error.error {
      display: none !important;
   }

   .nv-upload.error + label + span {
      color: #F95056;
   }
}

label span.pdf-icon {
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   height: 50px;
   width: 50px;
   background: url(../img/pdf-icon.png) no-repeat center center;
}

#research {
   padding-top: 35px;
   /*.caret {
      width: 20px;
      height: 47px;
      line-height: 47px;
      background: #fff;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      border: none;

      .caret-inner {
         display: block;
         margin-top: 22px;
         margin-right: 5px;
         float: right;
         width: 10px;
         height: 7px;
      }
   }*/


   .radio-button {
      opacity: 0;
      position: absolute;
      filter: alpha(opacity = 10);
   }

   .research-post {
      p {
         font-size: 1.4em;
         margin: 0
      }

      h3 {
         font-size: 18px;
      }
      margin-bottom: 30px;
   }

   .group-1 {
      width: 100%;
   }

   .input-group.input-text {
      width: 180px;
   }

   .input-group.input-radio {
      max-width: 260px;
      span {
         display: block;
         font-size: 1.3em;
         margin-bottom: 17px;
      }
      label {
         padding-right: 15px;
      }
   }

   .group-5 {
      input {
         display: block;
      }
   }


   #re-state {
      overflow: hidden !important;
   }

   .radio-circle {
      display: inline-block;
      position: relative;
      width: 19px;
      float: left;
      height: 19px;
      border: 1px solid #d1d7dd;
      -webkit-border-radius: 19px;
      -moz-border-radius: 19px;
      border-radius: 19px;
      cursor: pointer;
      margin-right: 10px;

      span {
         display: block;
         padding: 0;
         width: 11px;
         height: 11px;
         -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
         border-radius: 15px;
         position: absolute;
         top: 3px;
         left: 3px;
      }
   }

   .radio-button.error + #re-sex-error + label[for="re-sex-male"] > span,
   .radio-button.error + label[for="re-sex-female"] > span{
      border: 1px solid #F95056;
   }

   label.error {
      display: none !important;
   }
}

.tip-message {
   display: block;
   padding: 15px;
   line-height: 15px;
}

label.active .radio-circle span {
   background: #11b2e1;
}

#commercial {
   h2 {
      font-size: 2.1em;
   }

   h3 {
      font-size: 1.5em;
   }
}

#commercial, #research, #others-contacts {
   h2, h3 {
      font-family: 'effra_mediumregular', sans-serif;
   }

   h3 {
      margin: 24px 0 20px 0;
   }
}

.success-box {
   position: fixed;
   z-index: 9999;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: url(../img/layer.png) repeat
}

.share-box, .message-box, .lightbox-specialty {
   .check-box, .close-bottom, .lg-close {
      display: block;
      background: url(../img/message-box.png) no-repeat;
   }

   .close-bottom, .lg-close {
      float: right;
      margin: -20px -20px 0 0;
      width: 40px;
      height: 40px;
      background-position: -80px -10px;
      cursor: pointer;
   }
}

.message-box {
   background: #fff;
   position: absolute;
   h2 {
      font-family: 'effra_mediumregular', sans-serif;
      text-transform: uppercase;
      text-align: center;
      span {
         display: block;
         font-family: 'effraregular', sans-serif;
         text-transform: none;
      }
   }
   .check-box {
      width: 60px;
      height: 60px;
      background-position: 0 0;
   }

   .close-txt {
      display: block;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto;
      color: #11b2e1;
      width: 100px;
      font-size: 1.3em;
      font-family: 'effra_mediumregular', sans-serif;
      cursor: pointer;
      &:hover {
         color: #3fc9f1
      }
   }
}

span.legend {
   display: block;
   text-transform: uppercase;
   font-family: 'effra_mediumregular', sans-serif;
   font-size: 1.2em;
}

#categories-list {
   label {
      font-size: 1.3em;
   }

   ul.dropdown-menu {
      width: inherit;
      //right: 15px !important;
   }
}

.search-field.form-control {
   font-size: 16px;
   box-shadow: none;
   border-right: none !important;
   padding: 0 12px;
}

#clients-wrapper {
   position: relative
}

.search-form {
   margin-top: 20px;
   position: relative;

   .input-group {
      width: 100%;
   }
}
.search-submit.btn {
   height: 50px;
   line-height: 50px;
}

.search-field.form-control, .search-submit.btn {
   border: 2px solid #e2e8ee;
   height: 50px;
   &:focus, &:hover, &:active {
      border: 2px solid #e2e8ee;
      box-shadow: none;
   }
}

.search-submit.btn {
   padding: 0;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 2;
   color: transparent;
   outline: none !important;
   border-left: none !important;
   background: #fff url(../img/beer.png) no-repeat -16px -383px;
   box-shadow: none !important;
   &:hover, &:focus, &:active {
      color: transparent;
      border: 2px solid #e2e8ee !important;
      border-left: none !important;
      box-shadow: none !important;
   }
}

.size_220-220,
.size_220-460,
.size_460-460,
.size_460-220 {
   overflow: hidden;
   float: left;
}

.no-tag {
   font-size: 14px;
}

/*.menu-servicos {
   .dropdown-menu {
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -ms-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s;
   }
}*/

.active.menu-servicos {
   .dropdown-menu {
      //display: block;
   }
}

.single-post {
   .active.menu-servicos {
      .dropdown-menu {
         //display: block;
      }
   }
}

.related-posts h2 {
   font-family: 'effra_mediumregular', sans-serif;
}

#know-main {
   min-height: 220px;
}

#know-main, #work-main {
   position: relative;
   .loading {
      right: 50%;
      margin-right: -16px;
      top: 32px;
      opacity: 0.65;
   }
}

#_atssh {
   display: none;
}

.single-post-wrapper {

   width: 100%;

    .content-prev,
    .content-next {
      position: absolute;
      outline: none;
      top: 50%;
      width: 15px;
      height: 26px;
      margin-top: -13px;
      cursor: pointer;
      background: url(../img/beer.png) no-repeat;
      z-index: 10;
   }

   .content-next {
      left: auto;
      right: 15px;
      background-position: -84px -714px;
   }

   .content-prev {
      right: auto;
      left: 15px;
      background-position: 0 -714px;
   }

   .thumbnails li {
      display: block;
      position: relative;
      float: left;
      overflow: hidden;
      width: 125px;
      height: 85px;
      margin: 10px 10px 0 0;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      border: none;
      background: #ccc;
      background: rgba(255, 255, 255, 0.25) center no-repeat;
      cursor: pointer;

      &:hover, &.active {
         span {
            background: rgba(17, 178, 255, 0.5);
         }
      }

      img {
         width: 125px;
         height: 85px;
      }
      span {
         position: absolute;
         top: 0;
         -webkit-transition: all linear 0.2s;
         -moz-transition: all linear 0.2s;
         -ms-transition: all linear 0.2s;
         -o-transition: all linear 0.2s;
         transition: all linear 0.2s;
         display: block;
         width: 125px;
         height: 85px;
      }
   }

   .normal-size-screen {
      position: relative;
      max-height: 465px;
   }

}

.yellow-bg {
   display: table;
   width: 100%;
   padding-top: 0;

   .entry-meta {
      display: table-cell;
      height: inherit;
      vertical-align: middle;

      h1 {
         font-family: 'effra_mediumregular', sans-serif;
         color: #000;
         text-transform: uppercase;
      }
   }
}

#know-main, .related-posts {
   h3 {
      bottom: 0;
   }

   .item-link:hover, .post-link:hover {
      h3 {
         bottom: 5px;
      }
   }

   .category-trabalhos {
      h3 {
         top: 0
      }

      .item-link:hover, .post-link:hover {
         h3 {
            bottom: auto;
         }
      }
   }
}

.excerpt {
   position: absolute;
   top: 100%;
   font-size: 16px;
   padding: 0 20px;
   text-transform: none;
   line-height: 18px;
}

.page, .single-post, .home {
   .item-content, .item-link {
      position: relative;
      overflow: hidden;
      float: left;
   }

   .arrow-right {
      display: block;
      opacity: 0;
      width: 23px;
      z-index: 99999 !important;
      height: 11px;
      margin-left: 2px;
      background: url(../img/beer.png) no-repeat -14px -439px;
   }

   .arrow-right, .excerpt {
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
   }

   .item-bg-layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: rgba(0, 0, 0, 0.2);
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -ms-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
   }

   .post-item-wrapper:hover, .item-content:hover {
      .item-bg-layer {
         background: rgba(17, 178, 225, 0.8);
      }
   }

   .item-content, .item-link, .post-link {
      color: #fff;
      text-transform: uppercase;
      img, h3 {
         position: absolute;
         text-align: left;
         display: block;
      }

      h3 {
         font-family: 'effra_mediumregular', sans-serif;
         z-index: 10;
         display: block;
         margin: 0;
         padding: 10px 10px 0 10px;
         word-wrap: break-word;
         -webkit-transition: all linear 0.2s;
         -moz-transition: all linear 0.2s;
         -ms-transition: all linear 0.2s;
         -o-transition: all linear 0.2s;
         transition: all linear 0.2s;
      }
   }
}

.page, .category-trabalhos, .category-jb, .home {

   h3.post-item-title, h3.item-title, h3.se-title {
      padding: 20px 10px 0 0;
      line-height: 14px;

      span {
         display: inline-block;
      }

      .cat-title {
         font-size: 14px;
      }

      .last-part {
         font-size: 24px;
         font-weight: bold;
         display: block;
         padding-top: 5px;
         margin-left: 56px;
         line-height: 26px;
      }
   }

    h3.se-title {
      padding: 0;
      margin: 0;
    }

   .job-logo {
      margin: 0 10px;
      position: relative;
      float: left;
      width: 36px;
      height: 36px;
      border: 7px solid;
      -webkit-border-radius: 36px;
      -moz-border-radius: 36px;
      border-radius: 36px;
   }
}

.se-masonry {
  h3.se-title {
    padding: 0;
    text-transform: uppercase;
  }

  .txt-title {
    font-size: 24px;
    font-weight: bold;
    display: block;
    line-height: 22px;
  }
}

.template-case {
   .entry-content {
      padding-bottom: 20px;
      margin-bottom: 35px;
      border-bottom: 1px solid #b2b2b2;
   }

   blockquote {
      border: none;
      position: relative;
   }

   blockquote:before {
      content: '“';
      color: #11b2e1;
      top: -10px;
      left: 0;
      position: absolute;
   }
}

.category-produto-digital .job-logo {
   border-color: #a1c746;
}

.category-performance-de-marca .job-logo {
   border-color: #f4ce2f;
}

.category-inovacao-em-negocios .job-logo {
   border-color: #11b2e1;
}

.category-otimizacao-de-conversao .job-logo {
   border-color: #e69a32
}

.search-result-info {
   font-family: 'effraregular', sans-serif;
   font-size: 1.5em;
   span {
      font-family: 'effra_mediumregular', sans-serif;
   }
}

#work-main {
   margin-top: 20px;
}

.search-results-box {
   //display: none;
}

.search-results .search-results-box {
   display: block;
}

.highlight-title {
   margin: 0;
   font-family: 'effra_mediumregular', sans-serif;
}

.post-item-content, .item-content {
   position: relative;
   margin-top: 0;
   float: left;
   &:hover {
      cursor: pointer;

      .job-logo {
         border-color: #fff;
      }

      .excerpt {
         position: absolute;
         top: auto;
         bottom: 0;
      }

      .arrow-right {
         opacity: 1;
         margin: 10px 0;
      }
   }
}

.grid-sizer {
   width: 220px;
}

.post-item-wrapper, .item-link {
   -webkit-background-size: cover !important;
   -moz-background-size: cover !important;
   -o-background-size: cover !important;
   background-size: cover !important;
}

#more-posts {
   padding: 0;
   height: 50px;
   line-height: 50px;
   width: 100%;
   color: #11b2e1;
   display: block;
   font-size: 1.2em;
   font-family: 'effra_mediumregular', sans-serif;
   text-transform: uppercase;
   background: #eaebec;
   border: none;
   text-align: center;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   cursor: pointer;

   &:hover {
      background: #eaebec;
      text-decoration: none;
   }
   &:active, &:focus {
      box-shadow: none;
      outline: none;
   }
}

#more-posts.charging {
   border: 2px solid #eaebec;
   text-indent: -9999px;
   background: #fff url(../img/charging.png) no-repeat 50% 50%;
}

span.second-line {
   display: block;
   font-family: 'effraregular', sans-serif;
   font-weight: normal;
}

#head-line {
   margin-top: 35px;
   font-size: 1.4em;

   h2 {
      margin-top: 0;
      margin-bottom: 20px !important;
   }
}

#work-with-us {
   overflow-x: hidden;

   h2, h3 {
      font-size: 1.5em;
      font-family: 'effra_mediumregular', sans-serif;
      margin-bottom: 0;
   }

   #vacancies {
      .vacancy-box {
         display: table;
         cursor: pointer;

         h3 {
            font-weight: bolder;
            span {
               font-size: 14px;
               font-family: 'effraregular', sans-serif;
               font-weight: normal;
               display: block;
            }
         }
      }
   }

   .vacancy-box-inner {
      display: table-cell;
      vertical-align: middle;
   }


   .vacancy-amount {
      font-family: 'effra_mediumregular', sans-serif;
      span {
         display: none;
      }
   }

   .vacancy-link {
      span {
         width: 23px;
         height: 11px;
         display: block;
         background: url(../img/beer.png) no-repeat 0 -39px;
      }
   }
}

.sp-applied {
   cursor: pointer;
}

h3.sp-applied-title {
   font-family: "effra_mediumregular", sans-serif;
}

#no-vacancy-form {
   margin-top: 25px;
}

#back, #sp-back, .sp-title {
   text-transform: uppercase;
   font-family: 'effra_mediumregular', sans-serif;
   color: #11b2e1;
}

#back, #sp-back {
   font-size: 12px;
   text-decoration: none;
   padding-left: 12px;
   background: url(../img/beer.png) no-repeat -44px -187px;
}

#sp-back {
   margin-top: 5px;
   display: inline-block;
   background-position: -44px -185px;
}

#vacancy-amount {
   min-width: 74px;
   height: 78px;
   border: 1px solid #eaebec;

   #heavy, #label {
      display: block;
      min-width: 74px;
      font-family: 'effra_mediumregular', sans-serif;
      text-align: center;
   }

   #heavy {
      font-size: 48px;
      line-height: 1em;
   }

   #label {
      font-size: 16px;
      text-transform: uppercase;
      padding: 0 5px;
      font-weight: bold;
   }
}

#vacancy {
   margin-top: 20px
}

h3#vacancy-title {
   font-family: 'effra_mediumregular', sans-serif;
   float: left;
   span {
      font-family: 'effraregular', sans-serif;
      font-weight: normal;
   }
}

#vacancy-content {
   border-top: 2px solid #eaebec;
   position: relative;
   margin-top: 30px;
   padding-top: 8px;

   p, ul, ol {
      font-size: 14px;
   }

   ul, ol {
      margin: 0;
      list-style: none;
      padding: 0;

      li {
         padding-left: 10px;
         background: url(../img/bullet.png) no-repeat left 6px;
      }
   }

   h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
      margin-bottom: 15px;
   }

   #vacancy-col2 {
      ul li, ol li {
         padding: 0;
         background: none;
         font-size: 13px !important;
      }
   }

  ul#city-groups-two {
    padding: 5px 0
  }
}

.featured-image {
   display: table;
   width: 100%;

   header {
      display: table-cell;
      height: inherit;
      vertical-align: bottom;
      background: url(../img/layer.png) repeat;

      .container {
         margin-bottom: 40px;
      }

      h1 {
         font-size: 36px;
         color: #fff;
         font-weight: bold;
         text-transform: uppercase;
         padding: 0;
         margin: 0;
      }
   }
}

.featured-image {
   display: table;
   width: 100%;

   header {
      display: table-cell;
      height: inherit;
      vertical-align: bottom;
      background: url(../img/layer.png) repeat;

      h1 {
         color: #fff;
         font-weight: bold;
         text-transform: uppercase;
         padding: 0;
         margin: 0;
      }
   }
}

.page-id-559 {
   .page-title {
      color: #e69a32;
   }
}

.page-id-563 {
  .page-title {
    color: #A1C746;
  }
}

.page-id-561 {
  .page-title {
    color: #F4CE2F
  }
}

.page-id-565 {
  .page-title {
    color: #12ADDB
  }
}

.single-post, .page-template {
   padding-top: 70px;
}

.single-post {

   .entry-content {
      font-size: 16px;
   }
   
   .author {
      display: table;
      .author-avatar {
         width: 60px;
         display: table-cell;
         vertical-align: middle;
      }

      .avatar {
         -webkit-border-radius: 60px;
         -moz-border-radius: 60px;
         border-radius: 60px;
      }

      .author-info {
         width: 215px;
         padding-left: 20px;
         line-height: 17px;
         display: table-cell;
         vertical-align: middle;
         .name {
            font-size: 20px;
            font-family: 'effra_mediumregular', sans-serif;
         }
         .cargo {
            font-family: 'effraregular', sans-serif;
            font-size: 16px;
         }
      }
   }

   .category-info {
      text-transform: uppercase;
      font-size: 16px;
   }

   .category-info, .date-info, .tags-info {
      font-family: 'effra_mediumregular', sans-serif;
      margin-top: 20px;
   }

   .date-post, .tag-name {
      font-family: 'effraregular', sans-serif;
      font-size: 16px;
      font-weight: normal;
   }

   .date-label, .tags-label {
      font-size: 18px;
   }

   .tag-name {
      display: table;
      font-size: 15px;
      background: #e9ebec;
      padding: 3px 7px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-top: 5px;
   }

   .social-share {
      margin-top: 20px;
      a.share-bottom, a.copy-bottom {
         width: 100%;
         height: 50%;
         line-height: 50px;
         font-size: 14px;
         padding: 0;
         max-width: 220px;
         text-transform: uppercase;
         font-family: 'effra_mediumregular', sans-serif;
         &:focus, &:active {
            padding-top: 0;
            height: 50px;
         }
      }

   }

   .share-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1030;
      background: url(../img/layer.png) repeat;

      .share-box {
         height: auto;
         background: #fff;
      }

      .share-options {
         text-align: center;
         margin: 30px 0;
      }

      .share-link {
         background: #eaebec;

         #copy-url {
            display: block;
            border: none;
            background: #eaebec;
            width: 100%;
            max-width: 500px;
            font-size: 14px;
            overflow: hidden;
         }
         a.copy-bottom {
            width: 160px;
         }
      }

      .share-link h2 {
         font-size: 16px;
         margin: 0;
         width: 40px;
         font-family: 'effra_mediumregular', sans-serif;
      }
   }

   .search-box {
      margin-top: 30px;
      border-top: 2px solid #e9ebec;
   }
}

#clients {
   .swiper-wrapper .item-logo {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px;
      text-align: center;
   }

   h2.clients-title {
      font-family: 'effra_mediumregular', sans-serif;
   }
}

span.at300bs.at15nc.at15t_facebook,
span.at300bs.at15nc.at15t_twitter,
span.at300bs.at15nc.at15t_linkedin,
span.at300bs.at15nc.at15t_google_plusone_share,
span.at300bs.at15nc.at15t_whatsapp {
   width: 60px !important;
   height: 60px !important;
   background: url(../img/share-options.png) no-repeat !important;
   margin-right: 7px !important;
}

span.at300bs.at15nc.at15t_facebook {
   background-position: 0 0 !important;
}

span.at300bs.at15nc.at15t_twitter {
   background-position: -70px 0 !important;
}

span.at300bs.at15nc.at15t_linkedin {
   background-position: -140px 0 !important;
}

span.at300bs.at15nc.at15t_google_plusone_share {
   background-position: -210px 0 !important;
}

span.at300bs.at15nc.at15t_whatsapp {
   background-position: -280px 0 !important;
}

.zclip {
   color: #fff;
   text-align: center;
}

.search-results-box + #know-main-inner + #know-main + #know-wrapper + main + footer {
   margin-top: 50px;
}

.charge.hide {
   display: none;
}

.thumbnail-indicator {
   //display: none;
}

.categories-box {
   h3 {
      font-size: 24px;
      margin: 15px 0 20px 0;
   }

   .categories a {
      font-size: 18px;
      outline: none;
      display: block;
      color: #11b2e1;
      margin: 0 0 10px 15px;
   }
}

div.input-group.select-state {
  width: 120px;
  margin-right: 20px;

  label {
    display: block;
  }
  .dropdown-toggle {
    width: 120px;
  }
  .dropdown-menu {
    min-width: 120px;
  }
}

.group-1 .input-group,
.group-2 .input-group,
.group-3 .input-group,
.group-4 .input-group .btn-group,
#vacancy-form .select-city .btn-group,
.select-state .btn-group, .interest-area {
  position: relative;
  .dropdown-menu {
    top: 60px;
  }
}

.input-group.select-city .btn-group {
  .dropdown-menu {
    top: 88px;
  }
}


.group-2 .dropdown-menu,
.group-3 .dropdown-menu {
  min-width: 90px;
}

//@import "blueimp-gallery.scss";
//@import "blueimp-gallery-indicator.scss";
@import "idangerous.swiper.scss";

/* ==========================================================================
   Media Queries
   ========================================================================== */
@import "320.scss";
@import "480.scss";
@import "690.scss";
@import "767.scss";
@import "992.scss";
@import "1024.scss";
@import "1280.scss";